@use 'vars';
@use "responsive";

:host{
    display: block;
    background-color: vars.$bg-color-alt;
    color: white;
}

#motivation-section-left{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 1rem;
}
#motivation-section-right{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 5rem;
}

.temp-motivation-image{
  width: 60%; 
  margin-left: 10rem;
}
.motivation-text {
  text-align: left; 
  width: 50%; 
  display: inline-block
}

@include responsive.mobile {
  #motivation-section-left{
    display: block;
    width: 100%;
  }
  #motivation-section-right{
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .temp-motivation-image{
    width: 90%;
    margin-left: 5%;
  }
  .motivation-text {
    width: 80%;
  }
}