<div id="motivation-section-left">
    <div class="graphic">
        <p class="projects">{{ "home.projects" | translate }}</p>
        <p class="inspirations">{{ "home.inspirations" | translate }}</p>
        <p class="ideas">{{ "home.ideas" | translate }}</p>
        <svg class="lines" width="22rem" version="1.1" viewBox="0 0 112.04 73.81" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(-55.034 -88.635)" fill="none" stroke="#fff" stroke-miterlimit="10">
                <path class="cls-3" d="m76.939 101.76s2.1722 12.152-2.8998 17.859c-6.35 7.1438-19.775 6.7575-18.804 0.28046s19.111 4.8578 14.576 12.957c-4.535 8.0989-13.928 7.7735-14.253 13.928-0.32544 6.1542 9.4827 11.464 9.4827 11.464" stroke-dasharray="1.94469" stroke-width=".5px"/>
                <path class="cls-2" d="m123.26 92.944s23.024-9.9669 34.904 0.95779c9.6441 8.8688 8.7392 22.281 8.7392 22.281" stroke-dasharray="1.80975" stroke-width=".5px"/>
                <path class="cls-1" d="m112.54 161.87s9.4694 1.8309 11.647-2.3283c3.2041-6.1145 3.3946-15.6 9.0276-18.053 11.356-4.9504 11.647 12.52 21.257 11.647 11.557-1.0504 11.647-18.635 11.647-18.635" stroke-dasharray="2.13783" stroke-width=".5px"/>
            </g>
        </svg>
    </div>
</div>
<div id="motivation-section-right" class="text-center">
    <div>
        <p class="motivation-text">{{ "home.motivation-text" | translate }}</p>
        <br>
        <p class="motivation-text" [innerHTML]="'home.motiviation-references' | translate:{teamUrl: teamUrl, missionUrl: missionUrl}"></p>
        <p><a href="/#projects"><button style="margin-right: 2rem" class="secondary">{{ "home.explore" | translate }}</button></a><a href="{{ newProjectUrl }}"><button class="secondary">{{ "home.add" | translate }}</button></a></p>
    </div>
</div>

