@use 'vars';
@use "responsive";

:host{
    display: block;
    background-color: vars.$bg-color-alt;
    color: white;
}

#motivation-section-left{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding: 2rem 0;
  
  .graphic{
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: bold;
    position: relative;
    text-align: left;
    
    .projects{
      position: absolute;
      left: 1rem;
      top: 0;
      margin: 0;
      padding: 0;
    }
    .ideas{
      position: absolute;
      bottom: 0;
      left: 3rem;
      margin: 0;
      padding: 0;
    }
    .inspirations{
      position: absolute;
      bottom: 6.7rem;
      right: -8rem;
      margin: 0;
      padding: 0;
    }

  }
}
#motivation-section-right{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 5rem;
}

.temp-motivation-image{
  width: 60%; 
  margin-left: 10rem;
}
.motivation-text {
  text-align: left; 
  width: 50%; 
  display: inline-block
}

@include responsive.mobile {
  #motivation-section-left{
    display: block;
    width: 100%;

    .graphic {
      font-size: 1.5rem;
      .projects{
        left: 1rem;
        top: 0;
        margin: 0;
        padding: 0;
      }
      .ideas{
        bottom: 0;
        left: 3rem;
      }
      .inspirations{
        bottom: 5.7rem;
        right: -2.5rem;
      }
      .lines {
        width: 18rem;
      }
    }
  }
  #motivation-section-right{
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .temp-motivation-image{
    width: 90%;
    margin-left: 5%;
  }
  .motivation-text {
    width: 80%;
  }
}