@for (requirement of requirements(); track requirement){
    <div class="group-outer">
        <div class="group">
            <h4><mat-icon fontIcon="groups"></mat-icon>{{ "persons.helping-hands-group" | translate }} {{ $index + 1}}</h4>
            <p class="question">{{ "persons.how-many" | translate }}</p>
            <p class="answer">{{ quantityText(requirement) }}</p>
            <p class="question">{{ "persons.what-skills" | translate }}</p>
            <p class="answer">{{ skillText(requirement) }}</p>
            <p class="question">{{ "persons.what-workload" | translate }}</p>
            <p class="answer">{{ workloadText(requirement) }}</p>
            <p class="question"><mat-icon fontIcon="date_range"></mat-icon> {{ "persons.when" | translate }}</p>
            <p class="answer">{{ periodText(requirement) }}</p>
            <p class="question"><mat-icon fontIcon="location_on"></mat-icon> {{ "persons.where" | translate }}</p>
            <p class="answer">{{ locationText(requirement) }}</p>
        </div>
    </div>
}
