<h2 mat-dialog-title>{{ "map.select-on-map" | translate }}</h2>
<mat-dialog-content class="w-100-mobile">
    <div>
        <mat-form-field class="w-100">
            <mat-label>{{ "map.address-name-poi" | translate }}</mat-label>
            <input type="text" matInput [(ngModel)]="retrievedPoint" />
        </mat-form-field>
    </div>
    <app-map [lookupMode]="lookupMode" [type]="type" [startPoint]="startPoint" (onRetrievedPoint)="mapRetrievedPoint($event.value, $event.displayName)"></app-map>
</mat-dialog-content>
<mat-dialog-actions>    
    @if(type == "lookup"){
      <button [disabled]="!retrievedPoint" (click)="apply()" mat-dialog-close>{{ "general.apply" | translate }}</button>
      <button class="secondary" mat-dialog-close>{{ "general.cancel" | translate }}</button>
    } @else {
        <button class="secondary" mat-dialog-close>{{ "general.close" | translate }}</button>
    }
</mat-dialog-actions>