@use "responsive";
.top{
    min-height: calc(100vh - 14.5rem);
    display: flex;
}
.left{
    min-height: 100%;
    width: 40rem;
    background-color: #EA6A31;
    color: white;

    .stats{
        padding: 2rem 3rem 1rem 3rem;
    }
    .intro{
        padding: 1rem 3rem;
    }
}
.main{
    width: calc(100% - 40rem);
    min-height: 100%;

    .content{
        padding: 3rem 10rem;
    }
}
.bottom{
    height: 10rem;
    background-color: #B497E5;
    display: flex;
    color: white;

    .bottom-left{        
        width: 50%;

        > div{
            padding-left: 5rem;
            padding-top: 2rem;
        }
    }
    .bottom-right{
        width: 50%;
        > div{
            padding: 1rem 8rem 1rem 5rem;
        }
    }
}
.gallery{
    height: 20rem;
}
.stat-grid-item {
    padding: .2rem .8rem;
    border: 1px solid white;
    border-radius: 2rem;
    margin: .2rem;
    cursor: default;
    
    &[data-clickable=true]{
        cursor: pointer;
        transition: background-color .2s ease;
        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
.stat-grid{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}
.stat-label{
    margin: 0 1rem 0 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;

    &[data-clickable=true] {
        cursor: pointer;
    }
}
.contact-text{
    margin: 0;
    flex-grow: 1;
    flex-basis: 50%;
}
@include responsive.desktop-medium{
  .left{
    width: 25rem;
  }
  .main{
    width: calc(100% - 25rem);
    .content{
      padding: 3rem 5rem;
    }
  }
}
@include responsive.mobile {
  .top {
    min-height: 0;
    display: block;
  }

  .left {
    min-height: 0;
    width: 100%;
    margin-top: 20rem;
  }

  .main {
    width: 100%;
    height: auto;

    .content {
      padding: 2rem 2rem;
    }
  }

  .bottom {
    height: auto;
  }

  .gallery {
    position: absolute;
    top: 3.5rem;
    left: 0;
    background-color: #EA6A31;
    width: 100%;
  }

  .bottom{
    height: auto;
    flex-direction: column;

    .bottom-left{
      width: 100%;

      > div{
        padding: 0 1rem;
        text-align: center;
      }
    }
    .bottom-right{
      width: 100%;
      > div{
        padding: 1rem 2rem;
      }
    }
  }
}

