@use 'vars';
@use 'responsive';

hr{
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  
  &.hr-white{
    border-bottom-color: white;
  }
}

.text-center{
    text-align: center;
}
.with-pointer{
    cursor: pointer;
}
.hidden{
    display: none !important;
}
.help-icon {
    vertical-align: sub;
    cursor: pointer;
    color: vars.$button-secondary;
}
.mat-icon{
    display: inline;
    vertical-align: middle;
}
.item-tiles-container{
    display: flex;
    flex-wrap: wrap;
}
.split-left-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.split-top-bottom{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.nowrap{
  white-space: nowrap;
}
.m-0{
    margin: 0;
}
.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.h-100{
    height: 100%;
}
.d-flex{
    display: flex;
}
.d-inline-block{
    display: inline-block;
}
.color-orange{
  color: vars.$bg-orange;
}
.color-green{
  color: vars.$bg-color-alt;
}
.color-white{
  color: white;
}

.a{
  text-decoration: underline;
  cursor: pointer;
}

.without-subscript-wrapper{
  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
}
@mixin prefix-suffix-container {
  display: flex;

  .prefix, .suffix, .middle {
    min-height: 3.5rem;

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  .suffix, .middle {
    .mdc-text-field {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .prefix, .middle {
    .mdc-text-field {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .prefix-50 {
    flex-basis: 50%;
  }

  .suffix-50 {
    flex-basis: 50%;
  }
}
@include responsive.desktop {
  .prefix-suffix-container {
   @include prefix-suffix-container
  }
  .split-left-right-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.field-min-width-medium{
    min-width: 20rem !important;
}

.mat-mdc-dialog-content{
    max-height: 75vh !important;
}

.flex-grow-0{
    flex-grow: 0;
}
.flex-grow-1{
    flex-grow: 1;
}

.only-mobile{
  display: none;
}
@include responsive.mobile {
  .only-mobile{
    display: unset !important;
  }
  .only-desktop{
    display: none !important;
  }
  
  .w-100-mobile{
    width: 100% !important;
  }

  .prefix-suffix-container-with-mobile{
    @include prefix-suffix-container
  }
  .cdk-overlay-pane {
    width: calc(100% - 1rem);
  }
}