@use "vars";

.with-border{
  display: inline-block;
  position: relative;
}
.with-border:after{
  content: "";
  position: absolute;
  width: calc(100% + .8rem);
  height: calc(100% - .3rem);
  left: -.4rem;
  top: .1rem;
  border: 1px solid vars.$bg-orange;
  border-radius: 1rem;
}
.show-more-details{
  font-size: 14px;
  text-decoration: underline;
}