$bg-orange: #EA6A31;
$bg-orange-hover: #ec7b4b;
$bg-orange-disabled: #f09772;
$bg-color-alt: #175153;
$fg-color: #285251;
$button-secondary: #B497E5;
$button-secondary-hover: #bda4e9;
$button-secondary-disabled: #c5b2e7;

$button-tertiary: #c4aca1;
$button-tertiary-hover: #c49d8c;
$button-tertiary-disabled: #cbc1bd;

$button-green: #175153;
$button-green-hover: #1e7072;
$button-green-disabled: #5a9395;