<div>
  <h4 class="split-left-right mt-0"><span><mat-icon fontIcon="savings"></mat-icon> {{"input-money.financial-support" | translate}} {{ requirementNumber }}: </span><span><button class="secondary" (click)="removeClicked()"><mat-icon fontIcon="delete"></mat-icon><span class="only-desktop"> {{"input-money.remove-entry" | translate}}</span></button></span></h4>    
  <div>
    <div class="d-inline-block w-100-mobile" style="vertical-align: top;">
      <mat-form-field class="w-100-mobile">
          <mat-label>{{"input-money.amount-in-eur" | translate}}</mat-label>
          <input type="text"
                aria-label="Amount of Money"
                matInput
                [(ngModel)]="amountOfMoney"/>
        </mat-form-field>
    </div>
    <div class="d-inline-block" style="vertical-align: top; padding-left: 1rem;">
          <p class="mt-0">{{"input-money.until-when-do-you-need-the-money" | translate}}</p> 
          <div>
            <mat-slide-toggle [(ngModel)]="requirementTimeIsIdenticalToProjectTime">{{"input-money.identical-with-project-period" | translate}}</mat-slide-toggle>
          </div>          
    </div>    
  </div>  
  <div [class.hidden]="requirementTimeIsIdenticalToProjectTime">    
    @for(requirementTime of requirementTimes; track requirementTime){
        <app-input-project-time class="requirement-money-project-time" (onChanged)="onUpdated()" [timeIndex]="$index" [projectTime]="requirementTime" (remove)="removeRequirementTime($event)"></app-input-project-time>
    }        
    <button aria-label="Add requirement time" (click)="addRequirementTime()"><mat-icon fontIcon="add"></mat-icon> {{"input-money.add-another-period" | translate}}</button>
  </div>       
</div>

