<div style="display: flex; justify-content: stretch; flex-direction: column; height: 100%">
    <app-navigation-bar-full [purple]="true" style="flex-grow: 0"></app-navigation-bar-full>
    <div style="padding: 1rem; flex-grow: 1; text-align: center; display: flex; flex-direction: column; justify-content: center; background-color: #B497E5;">
        <p class="color-white" [innerHTML]="'forgot-password.hint' | translate"></p>
    </div>
    <app-footer [purple]="true" style="flex-grow: 0"></app-footer>
</div>