@use '@angular/material' as mat;

.filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
.filter-item{
  margin: 0 1rem;
}
mat-form-field.filter-item{
  --mat-sys-primary: white;
  --mat-sys-on-surface: white;
  --mat-sys-on-surface-variant: white;
  --mat-sys-outline: white;
  --mat-sys-corner-extra-small: 2rem;
}