@use '@angular/material' as mat;
@use 'responsive';

.filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
.filter-item{
  margin: 0 1rem;
}
mat-form-field.filter-item{
  --mat-sys-primary: white;
  --mat-sys-on-surface: white;
  --mat-sys-on-surface-variant: white;
  --mat-sys-outline: white;
  --mat-sys-corner-extra-small: 2rem;
}
.filter-available-soon{
  color: white;
  font-size: .8rem;
  vertical-align: middle;
  margin-bottom: 20px;
}

.add-project-button {
  margin-bottom: 20px;
  
  > * {
    vertical-align: middle
  }
  mat-icon{
    margin-right: .5rem
  }
}

@include responsive.mobile {
  .filter-container{
    padding: 2rem 2rem;
    width: calc(100% - 4rem);
    justify-content: space-between;
  }
  
  .filter-item {
    display: none;
    margin: 0;
    white-space: nowrap;
    
    &.mobile {
      display: block;
    }
  }
  
  .add-project-button {
    margin-bottom: 0;
  }
  
  .filter-available-soon{
    margin-bottom: 0;
    white-space: wrap;
    font-size: .7rem;
  }
}