<div class="filter-container">
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label>Projektart</mat-label>
        <mat-select>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label><mat-icon fontIcon="location_on"></mat-icon> Region</mat-label>
        <mat-select>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label><mat-icon fontIcon="date_range"></mat-icon> Zeitraum</mat-label>
        <mat-select>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label>Anforderungen</mat-label>
        <mat-select>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="flex-grow: 1;" class="filter-item">
        <mat-label><mat-icon fontIcon="search"></mat-icon> Stichwort...</mat-label>
        <input type="text" matInput />
    </mat-form-field>
    <button style="margin-bottom: 20px" class="secondary filter-item"><mat-icon fontIcon="add"></mat-icon> hinzufügen</button>
</div>