<div class="filter-container">
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label>Projektart</mat-label>
        <mat-select disabled>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label><mat-icon fontIcon="location_on"></mat-icon> Region</mat-label>
        <mat-select disabled>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label><mat-icon fontIcon="date_range"></mat-icon> Zeitraum</mat-label>
        <mat-select disabled>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-item">
        <mat-label>Anforderungen</mat-label>
        <mat-select disabled>
    
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="flex-grow: 1;" class="filter-item">
        <mat-label><mat-icon fontIcon="search"></mat-icon> Stichwort...</mat-label>
        <input disabled type="text" matInput />
    </mat-form-field>
    <button class="btn-green filter-item mobile" disabled><mat-icon fontIcon="filter_alt"></mat-icon> Filter</button>
    <div class="filter-available-soon filter-item mobile">
        <mat-icon fontIcon="info"></mat-icon>
        <span>Filter bald verfügbar!</span>
    </div>
    <a class="filter-item mobile add-project-button" href="{{newProjectUrl}}"><button class="secondary"><mat-icon fontIcon="add"></mat-icon> hinzufügen</button></a>
</div>