@use "responsive";
@use "vars";

:host{
  display: flex;
  justify-content: center;
  > * {
    width: 40rem;
  }
}

@include responsive.mobile {
  :host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    z-index: 1;
    
    &.purpleStyle{
      background-color: vars.$bg-purple;
      color: white;
    }
  }
}