@use 'vars';
#welcome-text-content{
    font-size: 1.5rem;   
}

.with-border{
    display: inline-block;
    position: relative;
}
.with-border:after{
    content: "";
    position: absolute;
    width: calc(100% + .4rem);
    height: 100%;
    left: -.2rem;
    top: 0;
    border: 1px solid vars.$bg-orange;
    border-radius: .5rem;
}