@use 'vars';
@use 'responsive';

#welcome-text-content{
    font-size: 1.8rem;   
    text-align: left;
}

:host{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container{
  text-align: center;
  width: 23rem;
  display: inline-block;
  padding-bottom: 4rem;
}

@include responsive.mobile {
  .container{
    width: 80%;
    padding-bottom: 0;
  }
}