@if(canShowNavigation){
    <button class="secondary btn-nav btn-prev" (click)="prev()"><mat-icon fontIcon="chevron_left"></mat-icon></button>
}
@for(image of imagesArray; track image){
    <div class="image-box">
        <div class="image-blur" style="background-image: url('{{ image.src }}')"></div>
        <img [class.active]="selectedIndex == $index" class="image-gallery-image" src="{{ image.src }}" alt="{{ image.alt }}"/>
    </div>
}
@if(canShowNavigation){
    <button class="secondary btn-nav btn-next" (click)="next()"><mat-icon fontIcon="chevron_right"></mat-icon></button>
}