@use "responsive";
@use "vars";

:host{
    display: block;
    height: 100%;
    position: relative;
    background-color: vars.$bg-orange;
}
swiper-container{
    --swiper-navigation-color: #B497E5; 
    --swiper-pagination-color: #B497E5;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
}
.image-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
    
    .image-blur {
        position: absolute;
        left: -40px;
        top: -40px;
        width: calc(100% + 80px);
        height: calc(100% + 80px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(20px);
        z-index: 1;
    }
}