:host{
    > div{
        border: 1px solid #175153;
        border-radius: 1rem;
        padding: .5rem;
    }
    min-width: 30rem;    
    padding: .5rem;
    display: block;
}

.location-explanation{
    margin-top: 0;
}