<div>
    <mat-form-field>
        <mat-label></mat-label>
        <mat-select [(value)]="locationType">
        <mat-option value="unkown">Nicht festgelegt</mat-option>
        <mat-option value="remote">Remote/Digital</mat-option>
        <mat-option value="name">Name eines Ortes</mat-option>
        <mat-option value="address">Adresse</mat-option>
        <mat-option value="coordinates">Koordinaten</mat-option>
        </mat-select>
    </mat-form-field>
    @if (locationType === "remote"){
        <div class="location-explanation">Möchtest du noch einen Link hinterlegen? <mat-icon class="with-pointer" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpLocationLink)"></mat-icon></div>
        <mat-form-field>
            <mat-label>Link</mat-label>
            <input type="text" matInput [(ngModel)]="locationLink" />
        </mat-form-field>
    }
    @if (locationType === "name"){
        <div class="location-explanation">Wie heißt der Ort, den du angeben möchtest? <mat-icon class="with-pointer" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpLocationName)"></mat-icon></div>
        <mat-form-field>
            <mat-label>Name des Ortes</mat-label>
            <input type="text" matInput [(ngModel)]="locationName" />
        </mat-form-field>
    }
    @if (locationType === "address"){
        <div class="location-explanation">Wie ist die Adresse, die du angeben möchtest? <mat-icon class="with-pointer" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpLocationAddress)"></mat-icon></div>
        <mat-form-field>
            <mat-label>Adresse</mat-label>
            <input type="text" matInput [(ngModel)]="locationAddress" />
        </mat-form-field>
    }
    @if (locationType === "coordinates"){
        <div class="location-explanation">Wie sind die Koordinaten in "Lat, Lon", die du angeben möchtest? <mat-icon class="with-pointer" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpLocationCoordinates)"></mat-icon></div>
        <mat-form-field>
            <mat-label>Lat, Lon</mat-label>
            <input type="text" matInput [(ngModel)]="locationCoordinates" />
        </mat-form-field>
    }
    @if (useMap){
        <app-map [lookupMode]="mapLookupMode" (onRetrievedPoint)="mapRetrievedPoint($event)"></app-map>      
    }
    <button mat-button (click)="removeClicked()"><mat-icon fontIcon="delete"></mat-icon> Ort entfernen</button>
</div>
