<h2 mat-dialog-title>{{"input-requirement-person.helping-hands-group" | translate}} {{ requirementNumber }}</h2>
<mat-dialog-content>            
    <div>
        <p>{{"input-requirement-person.what-skills" | translate}}</p>
        <mat-form-field class="w-100">
            <mat-label>{{"input-requirement-person.skill" | translate}}</mat-label>
            <input type="text"
                    [placeholder]="'input-requirement-person.skill' | translate"
                    aria-label="Skill"
                    matInput
                    (matChipInputTokenEnd)="addSelectedSkill($event)"               
                    [matChipInputFor]="chipGridSelectedSkills"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"               
                    [matChipInputAddOnBlur]="addOnBlur"
                    [matAutocomplete]="autoSkill"
                    [(ngModel)]="skillAutocompleteValue"/>
            <mat-autocomplete (optionSelected)="skillSelected($event)" #autoSkill="matAutocomplete">
            @for (option of skillOptions; track option) {
                <mat-option [value]="option.value">{{option.text}}</mat-option>
            }
            </mat-autocomplete>
        </mat-form-field>
        <mat-chip-grid #chipGridSelectedSkills aria-label="Selected Skills">
        @for (selectedSkill of selectedSkills; track selectedSkill) {
            <mat-chip-row (removed)="removeSelectedSkill(selectedSkill)">
            {{ selectedSkill.text }}
            <button matChipRemove [attr.aria-label]="'remove ' + selectedSkill.text">
                <mat-icon>cancel</mat-icon>
            </button>
            </mat-chip-row>
        }
        </mat-chip-grid>
        <p>{{"input-requirement-person.how-many-persons" | translate}}</p>
        <mat-form-field class="w-100">
            <mat-label>{{"input-requirement-person.number-of-persons" | translate}}</mat-label>
            <input type="text"
                    aria-label="Number of persons"
                    matInput
                    [(ngModel)]="numberOfPersons"/>
        </mat-form-field>
        <p>{{"input-requirement-person.what-workload" | translate}}</p>
        <div class="prefix-suffix-container">
            <mat-form-field class="prefix prefix-50 w-100-mobile">
                <mat-label>{{"input-requirement-person.hours" | translate}}</mat-label>
                <input type="text"
                        aria-label="Hours"
                        matInput
                        [(ngModel)]="hours"/>
            </mat-form-field> 
            <mat-form-field class="suffix suffix-50 w-100-mobile">
                <mat-label>{{"input-requirement-person.workload-type" | translate}}</mat-label>
                <mat-select [(value)]="effortHoursType">
                <mat-option value="perWeek">{{"input-requirement-person.per-week" | translate}}</mat-option>
                <mat-option value="total">{{"input-requirement-person.total" | translate}}</mat-option>          
                </mat-select>
            </mat-form-field>
        </div>        
        <p>{{"input-requirement-person.in-what-period" | translate}}</p> 
        <div>
            <mat-slide-toggle [(ngModel)]="requirementTimeIsIdenticalToProjectTime">{{"input-requirement-person.identical-to-project-period" | translate}}</mat-slide-toggle>
        </div>
        <div [class.hidden]="requirementTimeIsIdenticalToProjectTime">        
            @for(requirementTime of requirementTimes; track requirementTime){
                <app-input-project-time (onChanged)="onUpdated()" [timeIndex]="$index" [projectTime]="requirementTime" (remove)="removeRequirementTime($event)"></app-input-project-time>
            }        
            <button class="w-100-mobile" aria-label="Add requirement time" (click)="addRequirementTime()"><mat-icon fontIcon="add"></mat-icon> {{"input-requirement-person.add-another-period" | translate}}</button>
        </div>
        <p>{{"input-requirement-person.in-which-location" | translate}}</p> 
        <div>
            <mat-slide-toggle [(ngModel)]="requirementLocationIsIdenticalToProjectLocation">{{"input-requirement-person.identical-to-project-location" | translate}}</mat-slide-toggle>
        </div>
        <div [class.hidden]="requirementLocationIsIdenticalToProjectLocation">        
            @for(requirementLocation of requirementLocations; track requirementLocation){
                <app-input-location (onChanged)="onUpdated()" [locationIndex]="$index" [location]="requirementLocation" (remove)="removeRequirementLocation($event)"></app-input-location>
            }        
            <button class="w-100-mobile" aria-label="Add requirement location" (click)="addRequirementLocation()"><mat-icon fontIcon="add"></mat-icon> {{"input-requirement-person.add-another-location" | translate}}</button>
        </div>
    </div>    
</mat-dialog-content>
<mat-dialog-actions>    
  <button mat-dialog-close>{{"input-requirement-person.close" | translate}}</button>
</mat-dialog-actions>