<div>
    <h4 class="split-left-right mt-0"><span><mat-icon fontIcon="wallet"></mat-icon>{{ contactSpecificationTypeName }} {{ bankAccountNumber }}: </span><button class="secondary" (click)="removeClicked()"><mat-icon fontIcon="delete"></mat-icon><span class="only-desktop"> {{ "input-contact-specs.remove-entry" | translate:{contactSpecificationTypeName: contactSpecificationTypeName} }} </span></button></h4>
    <mat-form-field class="w-100">
        <mat-label>{{ "input-contact-specs.account-type" | translate }}</mat-label>
        <mat-select [(value)]="contactSpecificationType">
        <mat-option value="bankAccount">{{ "input-contact-specs.bank-account" | translate }}</mat-option>
        <mat-option value="paypalAccount">{{ "input-contact-specs.paypal-account" | translate }}</mat-option>
        <mat-option value="website">{{ "input-contact-specs.website" | translate }}</mat-option>        
        </mat-select>
    </mat-form-field>

    @if(contactSpecificationType === "bankAccount"){
        <div>
            <mat-form-field class="w-100 prefix">
                <mat-label>{{ "input-contact-specs.account-name" | translate }}</mat-label>
                <input type="text" matInput [(ngModel)]="bankAccountName" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-100 prefix">
                <mat-label>{{ "input-contact-specs.iban" | translate }}</mat-label>
                <input type="text" matInput [(ngModel)]="bankAccountIban" />
            </mat-form-field>        
        </div>
        <div>
            <mat-form-field class="w-100 prefix">
                <mat-label>{{ "input-contact-specs.bic" | translate }}</mat-label>
                <input type="text" matInput [(ngModel)]="bankAccountBic" />
            </mat-form-field>        
        </div>
        <div>
            <mat-form-field class="w-100 prefix">
                <mat-label>{{ "input-contact-specs.bank-reference" | translate }}</mat-label>
                <input type="text" matInput [(ngModel)]="bankAccountReference" />
            </mat-form-field>
        </div>
    }

    @if(contactSpecificationType === "paypalAccount"){
        <div>
            <mat-form-field class="w-100 prefix">
                <mat-label>{{ "input-contact-specs.paypal-e-mail-address" | translate }}</mat-label>
                <input type="text" matInput [(ngModel)]="paypalAddress" />
            </mat-form-field>        
        </div>
        <div style="margin-bottom: 1.3rem;">
            <span>{{ "general.and/or" | translate }}</span>
        </div>
        <div>
            <mat-form-field class="w-100 prefix">
                <mat-label>{{ "input-contact-specs.paypal-me-url" | translate }}</mat-label>
                <input type="text" matInput [(ngModel)]="paypalMeAddress" />
            </mat-form-field>
        </div>
    }

    @if(contactSpecificationType === "website"){
        <div>
            <mat-form-field class="w-100 prefix">
                <mat-label>{{ "input-contact-specs.website" | translate }}</mat-label>
                <input type="text" matInput [(ngModel)]="website" />
            </mat-form-field>        
        </div>
    }
</div>