@use "vars";
@use "responsive";

.top {
  background-color: vars.$bg-purple;
  color: white;
  
  .left{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    > .left-content {
      display: inline-block;
      padding: 2rem 2rem 2rem 2rem;
      width: 20rem;
      text-align: left;
      .title{
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 6px;
      }
    }
  }
  .right{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    > .right-content {
      display: inline-block;
      text-align: left;
      width: 25rem;
      padding: 2rem 2rem 2rem 2rem;
    }
  }
}
.people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 0;
  overflow: hidden;
  
  .person-container {
    width: 50%;
    text-align: center;
    .person-inner {
      display: inline-block;
      padding: 2rem 2rem 2rem 2rem;
      
      img{
        width: 15rem;
      }
      
      .person-name {
        text-transform: uppercase;
      }
      
      .person-title {
        border: 1px solid vars.$bg-orange;
        color: vars.$bg-orange;
        border-radius: 1rem;
        padding: .25rem 1rem;
      }
    }

    &:nth-child(2) {
      .person-inner {
        padding: 8rem 20rem 2rem 2rem;
      }
    }
    &:nth-child(3) {
      .person-inner {
        padding: 2rem 2rem 2rem 20rem;
      }
    }
  }
}
.middle {
  background-color: vars.$bg-orange;
  color: white;
  padding: 2rem 0 2rem 0;
  align-items: stretch;
  display: flex;
  justify-content: stretch;
  
  .left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .left-content{
      width: 30rem;
      max-width: 100%;
      display: inline-block;
      text-align: left;
      padding: 0 2rem;
      
      p{
        font-size: 3rem;
        margin: 0;
      }
    }
  }
  .right{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    > .right-content {
      text-align: left;
      padding: 2rem 2rem 2rem 2rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      
      .speech-bubble-container{
        width: 17rem;
      }
      .contact-container{
        font-size: 1.5rem;
        margin-right: 2rem;
        
        app-insta-icon{
          width: 2rem;
          height: 2rem;
        }
        
        mat-icon{
          width: 2rem;
          height: 2rem;
          font-size: 2rem;
        }
      }
    }
  }
}
.on-insta{
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
.rainbow {
  position: absolute;
  right: 8rem;
  top: 20rem;
}
.mountain {
  position: absolute;
  left: 50%;
  top: -8rem;
}

.insta-container{
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 4rem;
  
  .insta-content{
    width: 50rem;
    padding: 0 1rem;
    max-width: calc(100% - 2rem);
  }
}

.insta-consent{
  width: 50rem;
  padding: 0 1rem;
  max-width: 100%;
  background-image: url('/images/about-us/insta-blur.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1.56;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  > div{
    background-color: vars.$bg-purple;
    color: white;
    padding: 2rem 1rem;
    width: 90%;
    border-radius: 1rem;
    p{
      margin: 0 0 1rem 0;
      padding: 0;
    }
  }
}

.partner-section{
  background-color: vars.$bg-orange;
  color: white;
  text-align: center;
  position: relative;
  
  .text-container {
    padding: 2rem;
    max-width: 100%;
    display: inline-block;
    width: 35rem;
    
    .thank-you {
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 20px;
      margin: 0 0 .5rem 0;
      font-weight: bold;
    }

    .to-our-partners {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin: 0 0 1rem 0;
    }

    .thank-you-text {
      margin: 0;
      font-size: 1.3rem;
    }
  }
  .partners {
    padding: 1rem 4rem;
    display: flex;
    .partner-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      align-items: stretch;

      .partner-box {
        flex-basis: 25%;
        flex-grow: 1;
        
        .partner-container {
          display: flex;
          padding: .3rem;

          .partner {
            padding: .2rem 1rem;
            border: 1px solid white;
            border-radius: 1rem;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@include responsive.desktop-medium {
  .rainbow {
    left: 4rem;
    top: 30rem;
  }
}

@include responsive.mobile{
  .on-insta{
    font-size: 1.5rem;
    word-break: break-word;
  }
  .top {
    .left{
      width: 100%;
      display: block;
      
      > .left-content {
        width: 25rem;
        max-width: calc(100% - 4rem);
        .title{
          font-size: 1.8rem;
        }
      }
    }
    .right{
      width: 100%;
      display: block;
      
      .right-content {
        width: auto;
      }
    }
  }
  .people-container {
    .person-container {
      width: 100%;
      .person-inner {
        padding: 2rem 2rem 2rem 2rem !important;
      }
    }
  }
  .middle {
    display: block;
    .left{
      width: 100%;
      
      .left-content{
        p{
          font-size: 2rem;
        }
      }
    }
    .right{
      width: 100%;
      display: block;

      .right-content {
        width: auto;

        .speech-bubble-container{
          width: 12rem;
          max-width: 80%;
        }
        .contact-container{
          font-size: 1.1rem;
          margin-right: 0;

          app-insta-icon{
            width: 1.5rem;
            height: 1.5rem;
          }

          mat-icon{
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .rainbow {
    display: none;
  }
  .mountain {
    display: none;
  }
  .partner-section{
    app-icon-star{
      display: none;
    }
    app-icon-three-hats-tilted{
      display: none;
    }
    .text-container {
      padding: 1rem;
      max-width: calc(100% - 2rem);

      .thank-you {
        font-size: 2rem;
        letter-spacing: 10px;
      }

      .to-our-partners {
        font-size: 1.4rem;
      }

      .thank-you-text {
        margin: 0;
        font-size: 1rem;
      }
    }
    .partners {
      padding: 1rem 1rem;
      .partner-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: stretch;

        .partner-box {
          flex-basis: 25%;
          flex-grow: 1;

          .partner-container {
            padding: .3rem !important;
            justify-content: center !important;
            align-items: center !important;

            .partner {
              display: inline-block;
              font-size: .9rem;
            }
          }
        }
      }
    }
  }
}