<div class="top">
    <div class="left" style="position: relative">
        <div class="left-content">
            <h2 class="title">{{ "aboutUs.thePeopleBehindPerspektivenfabrik" | translate }}</h2>
        </div>
        <app-icon-three-hats-tilted style="position: absolute; right: 5rem; bottom: 1rem; color: #fedf74;"></app-icon-three-hats-tilted>
    </div>
    <div class="right" style="position: relative">
        <app-icon-star style="position: absolute; right: 5rem; top: 1rem; color: #fedf74;"></app-icon-star>
        <div class="right-content">
            <p [innerHTML]=" 'aboutUs.descriptionText' | translate"></p>
            <a [routerLink]="[]" [fragment]="'team'"><button>{{ "aboutUs.thatsUs" | translate }} <mat-icon fontIcon="arrow_downward"></mat-icon></button></a>
        </div>
    </div>
</div>
<a id="team"></a>
<div style="position: relative">
    <app-icon-rainbow class="rainbow" style="color: #fedf74;"></app-icon-rainbow>
</div>
<div class="people-container">
    @for (person of people; track person){
        <div class="person-container">
            <div class="person-inner">
                <img src="{{ person.imagePath }}" />
                <div class="person-text">
                    <h3 class="person-name">{{ person.name }}</h3>
                    <p class="person-title">{{ person.title | translate }}</p>
                </div>
            </div>
        </div>
    }
</div>
<div style="position: relative">
    <app-icon-mountain class="mountain" style="color: #EA6A31;"></app-icon-mountain>
</div>
<div class="middle">
    <div class="left">
        <div class="left-content">
            <p>{{ "aboutUs.we-are-looking-for-feedback" | translate }}</p>
        </div>
    </div>
    <div class="right">
        <div class="right-content">
            <p class="contact-container">
                <span style="white-space: nowrap"><a href="mailto: info@perspektivenfabrik.it" target="_blank" style="text-decoration: none"><mat-icon fontIcon="mail" class="icon-mail"></mat-icon>&nbsp;<span class="mail-address">info&commat;perspektivenfabrik.it</span></a></span>
                <br>
                <span style="white-space: nowrap"><a href="https://www.instagram.com/perspektivenfabrik/" target="_blank" style="text-decoration: none"><app-insta-icon></app-insta-icon>&nbsp;<span class="mail-address">&commat;perspektivenfabrik.it</span></a></span>
            </p>
            <div class="speech-bubble-container">
                <app-speech-bubble></app-speech-bubble>
            </div>
        </div>
    </div>
</div>
<div>
    <a id="insta"></a>
    <h2 style="word-break: break-word" class="on-insta">{{ "aboutUs.onInsta" | translate }}</h2>
    <div class="insta-container" [class.hidden]="waitingForInsta">
        <div class="insta-content">
            <div #instaContainer>
                
            </div>
            @if(hasInstaConsent){
                <p style="font-size: 0.8rem; text-align: end"><span (click)="banInsta()" class="a">{{ "aboutUs.do-not-show-this-anymore" | translate }}</span></p>
            } @else {
                <div class="insta-consent">
                    <div class="text-center">
                        <p [innerHTML]="'aboutUs.insta-privacy-warning' | translate"></p>
                        <button (click)="consentInsta()">{{ "aboutUs.load-insta" | translate }}</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="partner-section">
    <div class="text-container">
        <p class="thank-you">{{"aboutUs.thank-you" | translate}}</p>
        <p class="to-our-partners">{{"aboutUs.to-our-partners" | translate}}!</p>
        <p class="thank-you-text">{{"aboutUs.thank-you-text" | translate}}</p>
    </div>
    <app-icon-three-hats-tilted style="position: absolute; left: 3rem; top: 5rem; color: #fedf74; transform: rotate(60deg)"></app-icon-three-hats-tilted>
    <app-icon-star style="position: absolute; right: 5rem; top: 2rem; color: #fedf74;"></app-icon-star>
    <div class="partners">
        <div class="partner-grid">
            @for(partner of partners; track partner){
                <span class="partner-box">
                    <span class="partner-container" [style.align-items]="partner.verticalAlign" [style.justify-content]="partner.horizontalAlign"
                          [style.padding-top]="partner.top"
                          [style.padding-right]="partner.right"
                          [style.padding-bottom]="partner.bottom"
                          [style.padding-left]="partner.left">
                        <span  class="partner">{{partner.name}}</span>
                    </span>
                </span>
            }
        </div>
    </div>
</div>