<div>
    <mat-form-field class="w-100">
        <mat-label>Zeitraum:</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="dateRange">
          <input  (dateChange)="changed()" formControlName="start" matStartDate placeholder="Startdatum">
          <input (dateChange)="changed()" formControlName="end" matEndDate placeholder="Enddatum">
        </mat-date-range-input>
        <mat-hint></mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dateRange"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRange></mat-date-range-picker>
    </mat-form-field>
</div>