<div class="container">
    <div class="icon-row" style="justify-content: flex-start; margin-bottom: -2rem">
        <app-icon-star></app-icon-star>
    </div>
    <div class="icon-row">
        <app-graphic-sustainable-projects></app-graphic-sustainable-projects>
        <app-graphic-letsstart style="margin-bottom: -5rem"></app-graphic-letsstart>
        <app-graphic-dialogue-and-discussion></app-graphic-dialogue-and-discussion>
        <app-icon-three-hats-tilted></app-icon-three-hats-tilted>
    </div>
    <div class="icon-row">
        <app-icon-cloud></app-icon-cloud>
        <app-icon-star></app-icon-star>
    </div>
    <div class="icon-row">
        <app-graphic-tackle-and-join></app-graphic-tackle-and-join>
        <app-icon-rainbow style="color: #fedf74"></app-icon-rainbow>
        <app-graphic-letsgo></app-graphic-letsgo>
        <app-graphic-good-life-for-all style="margin-top: -4rem"></app-graphic-good-life-for-all>
    </div>
    <div class="icon-row">
        <h1 class="perspektivenfabrik">Perspek-</h1>
    </div>
    <div class="icon-row">
        <app-icon-star></app-icon-star>
        <h1 class="perspektivenfabrik">tiven</h1>
        <app-icon-spirale style="color: #fedf74; align-self: flex-end; margin-bottom: -3rem"></app-icon-spirale>
    </div>
    <div class="icon-row">
        <h1 class="perspektivenfabrik">fabrik</h1>
    </div>
    <div class="icon-row" style="margin-top: 1rem;">
        <app-icon-three-hats-tilted style="color: #B497E5; margin-top: -3rem;"></app-icon-three-hats-tilted>
        <app-icon-wall></app-icon-wall>
        <app-icon-mountain></app-icon-mountain>
    </div>
</div>
