@use 'vars';
@use "responsive";

:host {
    background-color: vars.$bg-orange;
    display: block;
}
#welcome-logo-title {
    padding: 5rem 1rem 3rem 1rem;
    color: white;
    font-size: 4rem;
}
.temp-welcome-image {
 width: 30rem;
}

@include responsive.mobile {
  .temp-welcome-image {
    width: 100%;
    max-width: 30rem;
  }
}