<h2 mat-dialog-title>{{"input-requirement-material.material-group" | translate}} {{ requirementNumber }}</h2>
<mat-dialog-content>            
    <div>
        <p>{{"input-requirement-material.what-material-do-you-need" | translate}}</p>
        <mat-form-field class="w-100">
            <mat-label>{{"input-requirement-material.material" | translate}}</mat-label>
            <input type="text"
                   [placeholder]="'input-requirement-material.material' | translate"
                   aria-label="Material"
                   matInput
                   (matChipInputTokenEnd)="addSelectedMaterial($event)"               
                   [matChipInputFor]="chipGridSelectedMaterials"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"               
                   [matChipInputAddOnBlur]="addOnBlur"
                   [matAutocomplete]="autoMaterial"
                   [(ngModel)]="materialAutocompleteValue"/>
            <mat-autocomplete (optionSelected)="materialSelected($event)" #autoMaterial="matAutocomplete">
              @for (option of materialOptionsFiltered; track option) {
                <mat-option [value]="option.value">{{option.text}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <mat-chip-grid class="hidden" #chipGridSelectedMaterials aria-label="Selected Materials">
          
          </mat-chip-grid>
          <div>
            @for (selectedMaterial of selectedMaterials; track selectedMaterial) {
                <div class="selected-material">
                    <div>
                        <h4 class="split-left-right mt-0"><span>{{ $index + 1}}. {{ selectedMaterial.text }}</span><button class="secondary" (click)="removeSelectedMaterial(selectedMaterial)" [attr.aria-label]="'remove ' + selectedMaterial.text">
                            <mat-icon>cancel</mat-icon><span class="only-desktop">{{"input-requirement-material.remove-material" | translate}}</span>
                        </button></h4>
                        <div>
                            <app-mat-input-translations class="w-100" [label]="'input-requirement-material.amount' | translate" [(value)]="selectedMaterial.amount" [(translations)]="selectedMaterial.amountTranslations" ></app-mat-input-translations>
                        </div>
                        <div>
                            <app-mat-input-translations class="w-100" [label]="'input-requirement-material.material-description' | translate" [(value)]="selectedMaterial.description" [(translations)]="selectedMaterial.descriptionTranslations" ></app-mat-input-translations>
                        </div>   
                    </div>           
                </div>
              }
          </div>
    
    
          <p>{{"input-requirement-material.in-which-period-do-you-need-the-material" | translate}}</p> 
          <div>
            <mat-slide-toggle [(ngModel)]="requirementTimeIsIdenticalToProjectTime">{{"input-requirement-material.identical-to-project-period" | translate}}</mat-slide-toggle>
          </div>
          <div [class.hidden]="requirementTimeIsIdenticalToProjectTime">            
            @for(requirementTime of requirementTimes; track requirementTime){
                <app-input-project-time (onChanged)="onUpdated()"  [timeIndex]="$index" [projectTime]="requirementTime" (remove)="removeRequirementTime($event)"></app-input-project-time>
            }        
            <button class="w-100-mobile" aria-label="Add requirement time" (click)="addRequirementTime()"><mat-icon fontIcon="add"></mat-icon> {{"input-requirement-material.add-another-period" | translate}}</button>
          </div>
          <p>{{"input-requirement-material.where-do-you-need-the-material" | translate}}</p> 
          <div>
            <mat-slide-toggle [(ngModel)]="requirementLocationIsIdenticalToProjectLocation">{{"input-requirement-material.identical-to-project-location" | translate}}</mat-slide-toggle>
          </div>
          <div [class.hidden]="requirementLocationIsIdenticalToProjectLocation">            
            @for(requirementLocation of requirementLocations; track requirementLocation){
                <app-input-location (onChanged)="onUpdated()" [locationIndex]="$index" [location]="requirementLocation" (remove)="removeRequirementLocation($event)"></app-input-location>
            }        
            <button class="w-100-mobile" aria-label="Add requirement location" (click)="addRequirementLocation()"><mat-icon fontIcon="add"></mat-icon> {{"input-requirement-material.add-another-location" | translate}}</button>
          </div>
    </div>    
</mat-dialog-content>
<mat-dialog-actions>    
  <button mat-dialog-close>{{"input-requirement-material.close" | translate}}</button>
</mat-dialog-actions>