<div class="h-100" style="display: flex; flex-wrap: nowrap; justify-content: stretch;">
<div class="step-list-container h-100">
<div [class.hidden]="isLoading()">
    <div class="step-previous only-mobile">
        <button class="secondary" (click)="selectPrevious()"><mat-icon fontIcon="chevron_left"></mat-icon></button>
    </div>
    <div class="step" [class.active]="currentGroup == 'projectType'" (click)="select('projectType')">
        <span class="step-number">{{ stepNumber(1) }}</span>
        <span class="step-label">{{ "input-project.what-is-it-about" | translate }}</span>
    </div>
    <div class="step" [class.active]="currentGroup == 'projectName'" (click)="select('projectName')">
        <span class="step-number">{{ stepNumber(2) }}</span>
        <span class="step-label">{{ "input-project.name" | translate:{yoursDeclination: yoursDeclination, typeNameGenitive:typeNameGenitive} }}</span>
    </div>
    <div class="step" [class.hidden]="projectType != 'project'" [class.active]="currentGroup == 'projectPhase'" (click)="select('projectPhase')">
      <span class="step-number">{{ stepNumber(3) }}</span>
      <span class="step-label">{{ "input-project.phase" | translate:{yoursDeclination: yoursDeclination, typeNameGenitive:typeNameGenitive} }}</span>
    </div>
    <div class="step" [class.active]="currentGroup == 'projectLocation'" (click)="select('projectLocation')">
        <span class="step-number">{{ stepNumber(4) }}</span>
        <span class="step-label">{{ "input-project.location" | translate }}</span>
    </div>
    <div class="step" [class.active]="currentGroup == 'projectTime'" (click)="select('projectTime')">
      <span class="step-number">{{ stepNumber(5) }}</span>
      <span class="step-label">{{ "input-project.period" | translate}}</span>
    </div>
    <div class="step" [class.active]="currentGroup == 'projectRequirements'" (click)="select('projectRequirements')">
      <span class="step-number">{{ stepNumber(6) }}</span>
      <span class="step-label">{{ "input-project.support" | translate}}</span>      
    </div>
    <div class="step" [class.active]="currentGroup == 'projectContact'" (click)="select('projectContact')">
      <span class="step-number">{{ stepNumber(7) }}</span>
      <span class="step-label">{{ "input-project.my-contact-data" | translate}}</span>      
    </div>
    <div class="step" [class.active]="currentGroup == 'projectTags'" (click)="select('projectTags')">
        <span class="step-number">{{ stepNumber(8) }}</span>
        <span class="step-label">{{ "input-project.tags" | translate:{yoursDeclinationDative: yoursDeclinationDative, typeName:typeName} }}</span>
    </div>
    <div class="step" [class.active]="currentGroup == 'projectDescription'" (click)="select('projectDescription')">
      <span class="step-number">{{ stepNumber(9) }}</span>
      <span class="step-label">{{ "input-project.description" | translate}}</span>      
    </div>
    <div class="step" [class.active]="currentGroup == 'projectImages'" (click)="select('projectImages')">
      <span class="step-number">{{ stepNumber(10) }}</span>
      <span class="step-label">{{ "input-project.images" | translate}}</span>      
    </div>
    <div class="step" [class.active]="currentGroup == 'projectVisibility'" (click)="select('projectVisibility')">
      <span class="step-number">{{ stepNumber(11) }}</span>
      <span class="step-label">{{ "input-project.visibility" | translate}}</span>          
    </div>
    <div class="step-next only-mobile">
        <button class="secondary"(click)="selectNext()"><mat-icon fontIcon="chevron_right"></mat-icon></button>
    </div>
  </div>
    <div [class.hidden]="!isLoading()" style="width: 20rem">
        
    </div>
</div>
    <div class="container-with-title">
        <div [class.hidden]="!isLoading()">
            <div class="step-content">
                <h2 class="step-question">{{ "input-project.loading-project" | translate}}</h2>
            </div>
        </div>
        <div class="title-container" [class.hidden]="isLoading()">
            <div class="step-content" [class.hidden]="currentGroup != 'projectType'">
                <h2 class="step-question">{{ "input-project.what-do-you-wanna-add" | translate}} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpProjectType)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectName'">
                <h2 class="step-question">{{ "input-project.what-is-the-name-of-your-project" | translate:{yourDeclination: yourDeclination, typeName: typeName} }}<mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpProjectTitle)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectPhase'">
                <h2 class="step-question">{{ "input-project.in-which-phase-is-your-project" | translate:{yourDeclination: yourDeclination, typeName: typeName} }} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpProjectPhase)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectLocation'">
                <h2 class="step-question">{{ "input-project.what-to-say-about-the-location" | translate:{yoursDeclination: yoursDeclination, typeNameGenitive: typeNameGenitive} }} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpProjectLocation)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectTime'">
                <h2 class="step-question">{{ "input-project.when-does-your-project-take-place" | translate:{yourDeclination: yourDeclination, typeName: typeName} }} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpProjectTime)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectRequirements'">
                <h2 class="step-question">{{ "input-project.what-requirements-do-you-need" | translate:{yourDeclination: yourDeclination, typeName: typeName} }} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpRequirements)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectContact'">
                <h2 class="step-question">{{ "input-project.how-can-we-contact-you" | translate}} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpContact)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectTags'">
                <h2 class="step-question">{{ "input-project.select-tags-that-fit-your-project" | translate:{yoursDeclinationDativeTo: yoursDeclinationDativeTo, typeName: typeName} }} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpTags)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectDescription'">
                <h2 class="step-question">{{ "input-project.add-a-description" | translate:{yourDeclination: yourDeclination, typeName: typeName} }} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpDescription)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectImages'">
                <h2 class="step-question">{{ "input-project.add-pictures" | translate }} <mat-icon class="help-icon" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpImageUpload)"></mat-icon></h2>
            </div>
            <div class="step-content" [class.hidden]="currentGroup != 'projectVisibility'">
                <h2 class="step-question">{{ "input-project.who-is-allowed-to-see-your-project" | translate:{yourDeclination: yourDeclination, typeName: typeName} }} <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpProjectVisibility)"></mat-icon></h2>
            </div>
        </div>
        <div class="input-content-container">
            <div class="center-area">
                <div [class.hidden]="isLoading()">
                    <div class="step-content" [class.hidden]="currentGroup != 'projectType'">
                        <p>
                            <button class="btn-large w-100-mobile" [class.secondary]="projectType !== 'project'" (click)="changeProjectType('project')"><span>{{ "input-project.a-project" | translate }} </span><mat-icon [class.hidden]="projectType !== 'project'" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button>,
                            <button class="btn-large w-100-mobile" [class.secondary]="projectType !== 'idea'" (click)="changeProjectType('idea')">{{ "input-project.an-idea" | translate }} <mat-icon [class.hidden]="projectType !== 'idea'" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button> {{ "general.or" | translate }}
                            <button class="btn-large w-100-mobile" [class.secondary]="projectType !== 'inspiration'" (click)="changeProjectType('inspiration')">{{ "input-project.an-inspiration" | translate }} <mat-icon [class.hidden]="projectType !== 'inspiration'" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button>
                        </p>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectName'">
                        <div class="prefix-suffix-container">
                            <mat-form-field class="prefix w-100-mobile">
                                <mat-label>{{ "input-project.project-titel" | translate }}</mat-label>
                                <input matInput [(ngModel)]="projectTitle" />
                            </mat-form-field>
                            <mat-form-field class="suffix w-100-mobile">
                                <mat-label>{{ "input-project.internal-project-name" | translate }}</mat-label>
                                <input matInput disabled [(ngModel)]="projectName" />
                            </mat-form-field>
                        </div>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate}}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectPhase'">
                        <mat-form-field class="w-100-mobile">
                            <mat-label>{{ "input-project.project-phase" | translate }}</mat-label>
                            <mat-select [(value)]="projectPhase">
                                <mat-option value="unkown">{{ "input-project.not-defined" | translate }}</mat-option>
                                <mat-option value="planning">{{ "input-project.in-planning" | translate }}</mat-option>
                                <mat-option value="ongoing">{{ "input-project.ongoing" | translate }}</mat-option>
                                <mat-option value="finished">{{ "input-project.finished" | translate }}</mat-option>
                                <mat-option value="cancelled">{{ "input-project.cancelled" | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate}}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectLocation'">
                        <div class="item-tiles-container">
                            @for(location of locations; track location){
                                <app-input-location (onChanged)="onUpdated()" [locationIndex]="$index" [location]="location" (remove)="removeLocation($event)"></app-input-location>
                            }
                        </div>
                        <button class="w-100-mobile" aria-label="Add another location" (click)="addLocation()"><mat-icon fontIcon="add"></mat-icon> {{ "input-project.add-another-location" | translate }}</button>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate }}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectTime'">
                        <div class="item-tiles-container">
                            @for(projectTime of projectTimes; track projectTime){
                                <app-input-project-time (onChanged)="onUpdated()" [timeIndex]="$index" [projectTime]="projectTime" (remove)="removeProjectTime($event)"></app-input-project-time>
                            }
                        </div>
                        <div>
                            <button aria-label="Add project time" (click)="addProjectTime()"><mat-icon fontIcon="add"></mat-icon> {{ "input-project.add-another-period" | translate }}</button>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate }}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectRequirements'">
                        <div class="prefix-suffix-container-with-mobile">
                            <button [class.secondary]="currentRequirementGroup !== 'person'" (click)="currentRequirementGroup = 'person'" class="prefix">{{ "input-project.helping-hands" | translate }}</button>
                            <button [class.secondary]="currentRequirementGroup !== 'material'" (click)="currentRequirementGroup = 'material'" class="middle">{{ "input-project.material" | translate }}</button>
                            <button [class.secondary]="currentRequirementGroup !== 'money'" (click)="currentRequirementGroup = 'money'" class="suffix">{{ "input-project.financial-support" | translate }}</button>
                        </div>
                        <hr>
                        <div [class.hidden]="currentRequirementGroup !== 'person'">
                            @for(requirementPerson of requirementPersons; track requirementPerson){
                                <app-input-requirement-person (onChanged)="onUpdated()" [requirementIndex]="$index" [requirementPerson]="requirementPerson" (remove)="removeRequirementPerson($event)"></app-input-requirement-person>
                            }
                            <button class="w-100-mobile" aria-label="Add requirement person" (click)="addRequirementPerson()"><mat-icon fontIcon="add"></mat-icon> {{ "input-project.add-helping-hand" | translate }}</button>
                        </div>
                        <div [class.hidden]="currentRequirementGroup !== 'material'">
                            @for(requirementMaterial of requirementMaterials; track requirementMaterial){
                                <app-input-requirement-material (onChanged)="onUpdated()" [requirementIndex]="$index" [requirementMaterial]="requirementMaterial" (remove)="removeRequirementMaterial($event)"></app-input-requirement-material>
                            }
                            <button class="w-100-mobile" aria-label="Add requirement material" (click)="addRequirementMaterial()"><mat-icon fontIcon="add"></mat-icon> {{ "input-project.material" | translate }}</button>
                        </div>
                        <div [class.hidden]="currentRequirementGroup !== 'money'">
                            @for(requirementMoney of requirementsMoney; track requirementMoney){
                                <app-input-requirement-money (onChanged)="onUpdated()" [requirementIndex]="$index" [requirementMoney]="requirementMoney" (remove)="removeRequirementMoney($event)"></app-input-requirement-money>
                            }
                            <button class="w-100-mobile" aria-label="Add requirement money" (click)="addRequirementMoney()"><mat-icon fontIcon="add"></mat-icon> {{ "input-project.financial-support" | translate }}</button>
                        </div>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate}}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectContact'">
                        <div>
                            <mat-form-field class="field-min-width-medium w-100-mobile">
                                <mat-label>{{ "input-project.your-name" | translate }}</mat-label>
                                <input type="text"
                                       aria-label="Contact Personal Name"
                                       matInput
                                       [(ngModel)]="contactName"/>
                            </mat-form-field>
                            <span> {{ "general.and-or" | translate }} </span>
                            <mat-form-field class="field-min-width-medium w-100-mobile">
                                <mat-label>{{ "input-project.organisation-name" | translate }}</mat-label>
                                <input type="text"
                                       aria-label="Contact Organisation Name"
                                       matInput
                                       [(ngModel)]="organisationName"/>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="field-min-width-medium w-100-mobile">
                                <mat-label>{{ "input-project.e-mail" | translate }}</mat-label>
                                <input type="text"
                                       aria-label="Contact E-Mail"
                                       matInput
                                       [(ngModel)]="contactMail"/>
                            </mat-form-field>
                            <span> und/oder </span>
                            <mat-form-field class="field-min-width-medium w-100-mobile">
                                <mat-label>{{ "input-project.phone-number" | translate }}</mat-label>
                                <input type="text"
                                       aria-label="Contact Phone Number"
                                       matInput
                                       [(ngModel)]="contactPhone"/>
                            </mat-form-field>
                            <div>
                                <button (click)="addContactSpecification()"><mat-icon aria-hidden="false" aria-label="Add icon" fontIcon="add"></mat-icon> {{ "input-project.add-bank-account" | translate }}</button>
                            </div>
                            <div class="item-tiles-container">
                                @for(contactSpecification of contactSpecifications; track contactSpecification){
                                    <app-input-contact-specification (onChanged)="onUpdated()" [contactSpecificationIndex]="$index" [contactSpecification]="contactSpecification" (remove)="removeContactSpecification($event)"></app-input-contact-specification>
                                }
                            </div>
                        </div>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate}}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectTags'">
                        <div>
                            <mat-form-field class="w-100">
                                <mat-label>{{ "input-project.tags-short" | translate }}</mat-label>
                                <input type="text"
                                       placeholder="Tags"
                                       aria-label="Tags"
                                       matInput
                                       (matChipInputTokenEnd)="addSelectedTag($event)"
                                       [matChipInputFor]="chipGridSelectedTags"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       [matAutocomplete]="autoTag"
                                       [(ngModel)]="tagAutocompleteValue"/>
                                <mat-autocomplete (optionSelected)="tagSelected($event)" #autoTag="matAutocomplete">
                                    @for (option of tagOptions; track option) {
                                        <mat-option [value]="option.value">{{option.text}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-chip-grid #chipGridSelectedTags aria-label="Selected Tags">
                                @for (selectedTag of selectedTags; track selectedTag) {
                                    <mat-chip-row (removed)="removeSelectedTag(selectedTag)">
                                        {{ selectedTag.text }}
                                        <button matChipRemove [attr.aria-label]="'remove ' + selectedTag.text">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-row>
                                }
                            </mat-chip-grid>
                        </div>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate}}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectDescription'">
                        <h4>{{ "input-project.short-description" | translate }}: <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpDescription)"></mat-icon></h4>
                        <div>
                            <angular-editor [placeholder]="'input-project.short-description' | translate" [(ngModel)]="shortDescription" [config]="angularEditorConfig"></angular-editor>
                        </div>
                        <h4>{{ "input-project.long-description" | translate }}: <mat-icon class="help-icon" aria-hidden="false" aria-label="Help icon" fontIcon="help" (click)="showMessageDialog(messageDialogs.helpDescription)"></mat-icon></h4>
                        <div>
                            <angular-editor [placeholder]="'input-project.long-description' | translate" [(ngModel)]="longDescription" [config]="angularEditorConfig"></angular-editor>
                        </div>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate}}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectImages'">
                        <div>
                            <input multiple accept="image/*" class="hidden" #fileUpload type="file" (change)="onFileUpload($event)">
                            <button class="btn-large w-100-mobile" (click)="onUploadButtonClicked()"><mat-icon class="add-icon" aria-label="Add icon" fontIcon="add"></mat-icon><span>{{ "input-project.upload-images" | translate }}</span></button>
                        </div>
                        <div class="uploaded-image-container">
                            @for(image of uploadedImages; track image){
                                <div class="uploaded-image-list-item">
                                    <div>
                                        <div class="uploaded-image-list-item-close-button-container">
                                            <mat-icon style="font-size: 1.2rem;" fontIcon="close" (click)="removeUploadedImage(image)"></mat-icon>
                                        </div>
                                        <div style="text-align: center;">
                                            <img class="uploaded-image" src="{{ image.src }}" style="height: 10rem;" />
                                        </div>
                                        <div>
                                            <button class="w-100" [class.secondary]="!image.isLogo" (click)="setLogo(image)"><span>{{ "input-project.use-as-logo" | translate }} </span><mat-icon [class.hidden]="!image.isLogo" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button>
                                        </div>
                                        <div>
                                            <button class="w-100" [class.secondary]="!image.isMainImage" (click)="setMainImage(image)"><span>{{ "input-project.use-as-main-picture" | translate }} </span><mat-icon [class.hidden]="!image.isMainImage" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div>
                            <button (click)="selectNext()" class="btn-next w-100-mobile" >{{ "general.Continue" | translate}}</button>
                        </div>
                    </div>
                    <div class="step-content" [class.hidden]="currentGroup != 'projectVisibility'">
                        <p class="prefix-suffix-container">
                            <button class="prefix w-100-mobile" [class.secondary]="projectVisibility !== 'draft'" (click)="projectVisibility = 'draft'"><span>{{ "input-project.draft-only-you" | translate }} </span><mat-icon [class.hidden]="projectVisibility !== 'draft'" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button>
                            <button class="middle w-100-mobile" [class.secondary]="projectVisibility !== 'internal'" (click)="projectVisibility = 'internal'">{{ "input-project.only-with-link" | translate }} <mat-icon [class.hidden]="projectVisibility !== 'internal'" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button>
                            <button class="suffix w-100-mobile" [class.secondary]="projectVisibility !== 'public'" (click)="projectVisibility = 'public'">{{ "input-project.public" | translate }} <mat-icon [class.hidden]="projectVisibility !== 'public'" style="font-size: 1.2rem;" fontIcon="check"></mat-icon></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="right-bar">
                <div [class.hidden]="isLoading()" class="split-top-bottom right-bar-container">
                    <div class="right-bar-container-first" style="text-align: center;">
                        
                        @if(projectSaveContext()?.hasChanges ?? false){
                            @if(projectSaveContext()?.lastSave !== null){
                                <span class="only-desktop">
                                    <mat-icon fontIcon="info"></mat-icon> <span>{{ "input-project.last-saved" | translate }}: {{ formatTime(projectSaveContext()?.lastSave ?? null) }}</span>
                                </span>
                            }
                            @if(projectSaveContext()?.isSaving ?? false){
                                <button class="w-100 btn-save">
                                    <mat-icon fontIcon="hourglass_empty"></mat-icon>
                                </button>
                            } @else {
                                <button class="w-100 btn-save" (click)="save()">
                                    @if(projectVisibility === "draft"){
                                        <span>{{ "input-project.save" | translate }}</span>
                                    }@else{
                                        <span>{{ "input-project.save" | translate }}<span class="only-desktop"> {{ "input-project.and-make-public" | translate }}</span></span>
                                    }
                                </button>
                            }
                        } @else {
                            <button class="w-100 secondary btn-save">
                                @if(projectVisibility === "draft"){
                                    <span class="only-desktop">{{ "input-project.saved-as-draft" | translate }}</span>
                                    <span class="only-mobile">{{ "input-project.saved" | translate }}</span>
                                } @else if (projectVisibility === "public"){
                                    <span>
                                        {{ "input-project.saved" | translate }}<span class="only-desktop"> {{ "input-project.and-released" | translate }}</span>
                                    </span>
                                } @else{
                                    <span>
                                        {{ "input-project.saved" | translate }}<span class="only-desktop"> {{ "input-project.and-visible-with-link" | translate }}</span>
                                    </span>
                                }
                            </button>
                            @if(projectVisibility === "internal"){
                                <button style="margin-top: 1rem" (click)="openShareLinkDialog()" class="w-100"><mat-icon fontIcon="share"></mat-icon><span class="only-desktop"> {{ "input-project.internal-link-for-sharing" | translate }}</span></button>
                            }
                            <a href="{{ previewLink }}" target="_blank"><button style="margin-top: 1rem" class="w-100"><mat-icon fontIcon="visibility"></mat-icon><span class="only-desktop"> {{ "input-project.open-preview-in-new-tab" | translate }}</span></button></a>
                        }
                    </div>
                    <div>
                        @if(!this.isNewProject){
                            <button (click)="deleteProject()" class="tertiary w-100"><mat-icon fontIcon="delete"></mat-icon><span class="only-desktop"> {{ "input-project.delete" | translate }}</span></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>