<div>
  <h4 class="split-left-right mt-0">
      <span>
          <mat-icon fontIcon="construction"></mat-icon> {{"input-material-group.material-group" | translate}} {{ requirementNumber }}: 
      </span>
      <span>
          <button (click)="openInDialog()">
              <mat-icon fontIcon="edit"></mat-icon>
              <span class="only-desktop"> {{"input-material-group.edit-entry" | translate}}</span>
          </button> 
          <button class="secondary" (click)="removeClicked()">
              <mat-icon fontIcon="delete"></mat-icon>
              <span class="only-desktop"> {{"input-material-group.remove-entry" | translate}}</span>
          </button>
      </span>
  </h4>    
  <p>{{ subText }}</p>
</div>