<div>
    <p>Was für Material benötigst du?</p>
    <mat-form-field>
        <mat-label>Material</mat-label>
        <input type="text"
               placeholder="Material"
               aria-label="Material"
               matInput
               (matChipInputTokenEnd)="addSelectedMaterial($event)"               
               [matChipInputFor]="chipGridSelectedMaterials"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"               
               [matChipInputAddOnBlur]="addOnBlur"
               [matAutocomplete]="autoMaterial"
               [(ngModel)]="materialAutocompleteValue"/>
        <mat-autocomplete (optionSelected)="materialSelected($event)" #autoMaterial="matAutocomplete">
          @for (option of materialOptions; track option) {
            <mat-option [value]="option.value">{{option.text}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-chip-grid #chipGridSelectedMaterials aria-label="Selected Materials">
      @for (selectedMaterial of selectedMaterials; track selectedMaterial) {
        <div>
          {{ selectedMaterial.text }}
          <mat-form-field>
            <mat-label>Menge</mat-label>
            <input type="text"
                   aria-label="Amount of Material"
                   matInput
                   [(ngModel)]="selectedMaterial.amount"/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Beschreibung</mat-label>
            <textarea
                   aria-label="Description of Material"
                   matInput
                   [(ngModel)]="selectedMaterial.description"></textarea>
          </mat-form-field>
          <button (click)="removeSelectedMaterial(selectedMaterial)" [attr.aria-label]="'remove ' + selectedMaterial.text">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      }
      </mat-chip-grid>


      <p>In welchem Zeitraum benötigst du das Material?</p> 
      <div>
        <mat-slide-toggle [(ngModel)]="requirementTimeIsIdenticalToProjectTime">Identisch mit dem Projektzeitraum</mat-slide-toggle>
      </div>
      <div [class.hidden]="requirementTimeIsIdenticalToProjectTime">
        <button mat-button aria-label="Add requirement time" (click)="addRequirementTime()"><mat-icon fontIcon="add"></mat-icon> Weiteren Zeitpunkt/Zeitraum hinzufügen</button>
        @for(requirementTime of requirementTimes; track requirementTime){
            <app-input-project-time [projectTime]="requirementTime" (remove)="removeRequirementTime($event)"></app-input-project-time>
        }        
      </div>
      <p>An welchem Ort benötigst du das Material?</p> 
      <div>
        <mat-slide-toggle [(ngModel)]="requirementLocationIsIdenticalToProjectLocation">Identisch mit dem Projektort</mat-slide-toggle>
      </div>
      <div [class.hidden]="requirementLocationIsIdenticalToProjectLocation">
        <button mat-button aria-label="Add requirement location" (click)="addRequirementLocation()"><mat-icon fontIcon="add"></mat-icon> Weiteren Ort hinzufügen</button>
        @for(requirementLocation of requirementLocations; track requirementLocation){
            <app-input-location [location]="requirementLocation" (remove)="removeRequirementLocation($event)"></app-input-location>
        }        
      </div>
      
    <button mat-button (click)="removeClicked()"><mat-icon fontIcon="delete"></mat-icon> Eintrag entfernen</button>
</div>

