<div>
    <h4 class="split-left-right mt-0"><span><mat-icon fontIcon="calendar_month"></mat-icon> {{typeName}} {{ timeNumber }}: </span><button class="secondary" (click)="removeClicked()"><mat-icon fontIcon="delete"></mat-icon><span class="only-desktop"> {{typeName}} entfernen</span></button></h4>
    <div class="prefix-suffix-container">
        <mat-form-field class="prefix prefix-50 w-100-mobile">
            <mat-label>Zeittyp</mat-label>
            <mat-select [(value)]="projectTimeType">
            <mat-option value="range">Zeitraum</mat-option>
            <mat-option value="date">Datum</mat-option>
            <mat-option value="month">Monat</mat-option>        
            </mat-select>
        </mat-form-field>
        @if (projectTimeType === "range"){
            <app-date-picker-range class="suffix suffix-50 w-100-mobile" [(startDate)]="startDate" [(endDate)]="endDate"></app-date-picker-range>
        }
        @if (projectTimeType === "date"){
            <app-date-picker class="suffix suffix-50 w-100-mobile" [(date)]="date"></app-date-picker>
        }
        @if (projectTimeType === "month"){
            <app-month-picker class="suffix suffix-50 w-100-mobile" [(month)]="month"></app-month-picker>
        }
    </div>
</div>
