<app-navigation-bar-full></app-navigation-bar-full>
<div style="padding: 2rem">
    @if(currentLanguage == "it"){
        <h1>Cookie Policy del sito perspektivenfabrik.it</h1>
        <p>Nel rispetto del Provvedimento del Garante per la Protezione dei Dati Personali n.231 del 10 giugno 2021 “Linee Guida Cookie e altri strumenti di tracciamento”, desideriamo informarLa circa le modalità di trattamento dei dati effettuate Titolare del trattamento, attraverso i Cookie del presente sito perspektivenfabrik.it (in seguito “Sito”).</p>
        <h2>1. TITOLARE DEL TRATTAMENTO</h2>
        <p>
            <strong>Climate Action South Tyrol EO</strong>
            <br>Via Caproni 9, 39100 Bolzano
            <br>Mail: info&commat;climateaction.bz
            <br>PEC: cast&commat;pec-legal.it
            <br>Web: climateaction.bz
            <br>Codice fiscale: 94140540215
        </p>
        <p>Per richieste relative alla protezione dei dati personali, inclusi i diritti descritti al punto “diritti dell’interessato”, contattare: info&commat;climateaction.bz
        <h2>2. CHE COSA SONO I COOKIES? </h2>
        <p>I cookies sono piccoli file di testo che i siti visitati dall’utente inviano e memorizzano sul dispositivo utilizzato dall’utente per accedere ad Internet (computer, smartphone o tablet), per essere poi ritrasmesse agli stessi siti alla sua visita successiva.</p>
        <p>I cookies, solitamente presenti nei browser degli utenti, permettono di raccogliere informazioni sulla navigazione effettuata dall’utente sul sito web. Sono usati ad esempio per eseguire autenticazioni informatiche, per il monitoraggio di sessioni e la memorizzazione di informazioni riguardanti le attività degli utenti che accedono ad un sito. Possono anche contenere un codice identificativo unico che consente di tenere traccia della navigazione dell’utente all’interno del sito stesso per finalità statistiche o pubblicitarie. Alcune operazioni non potrebbero essere compiute senza l’uso dei cookies, che in alcuni casi sono quindi tecnicamente necessari per il funzionamento stesso del sito.</p>
        <p>Nel corso della navigazione su un sito, l’utente può ricevere sul suo dispositivo anche cookies inviati da siti (o web server) diversi da quello che sta visitando (c.d. cookies di “terze parti”) tramite elementi presenti sul sito visitato (come immagini, mappe, suoni, link a pagine web di altri domini su server diversi, ecc.).</p>
        <p>Alcuni cookies vengono memorizzati in modo permanente sul dispositivo dell’utente e hanno una durata prestabilita (c.d. cookies persistenti), mentre altri vengono automaticamente cancellati alla chiusura del browser (c.d. cookies di sessione).</p>
        <h2>3. CATEGORIE DEI COOKIE UTILIZZATI</h2>
        <p>Su questo sito web vengono attualmente utilizzati solo i cookie tecnicamente necessari. Pertanto, non viene offerto alcun banner o centro di preferenza per i cookie.</p>
        <ul>
            <li><strong>Cookies tecnici</strong> strettamente necessari per il funzionamento del sito o per consentire all’utente una migliore fruizione dei contenuti e dei servizi (cookie di sessione e di funzionalità). Con questi cookie non vengono raccolte informazioni sull’identità dell’utente, né alcun dato personale.</li>
        </ul>
        <h2>4. COOKIE UTILIZZATI</h2>
        <table>
            <thead>
            <tr>
                <th>Nome del Cookie</th>
                <th>Funzionalitá</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>preferred-language</td>
                <td>Selezione della lingua quando si carica la pagina per la prima volta</td>
            </tr>
            </tbody>
        </table>
        <h2>5. GESTIONE DELLE PREFERENZE SUI COOKIES </h2>
        <p>È possibile disabilitare i cookie attraverso l'area delle impostazioni del browser. Tuttavia, desideriamo sottolineare che la disabilitazione di uno o più cookie potrebbe compromettere alcune funzionalità di questo sito web (si noti che i cookie tecnici sono necessari per il corretto funzionamento delle funzioni di base del sito web). La configurazione del browser relativa a questa scelta può essere monitorata e modificata nelle impostazioni del browser. È inoltre possibile cancellare i cookie installati in passato, compresi i cookie tecnici, tramite le impostazioni del browser.</p>
        <p>Selezionando il proprio browser tra quelli elencati di seguito, è possibile ottenere informazioni su come modificare le relative impostazioni dei cookie.</p>
        <ul>
            <li><a target="_blank" href="https://support.mozilla.org/it/kb/Gestione%20dei%20cookie">Mozilla Firefox</a></li>
            <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=it">Google Chrome</a></li>
            <li><a target="_blank" href="https://support.microsoft.com/it-it/windows/gestire-i-cookie-in-microsoft-edge-visualizzare-consentire-bloccare-eliminare-e-usare-168dab11-0753-043d-7c16-ede5947fc64d">Microsoft Edge</a></li>
            <li><a target="_blank" href="https://support.apple.com/kb/PH17191?viewlocale=it_IT&locale=it_IT">Safari 6/7 Mavericks</a></li>
            <li><a target="_blank" href="https://support.apple.com/kb/PH19214?viewlocale=it_IT&locale=it_IT">Safari 8 Yosemite</a></li>
            <li><a target="_blank" href="https://support.apple.com/it-it/HT201265">Safari su iPhone, iPad, o iPod touch</a></li>
        </ul>
    }@else{
        <h1>Cookie Policy der Website perspektivenfabrik.it</h1>
        <p>In Übereinstimmung mit der Verordnung der Aufsichtsbehörde (Garante per la Protezione dei Dati Personali) Nr. 231 vom 10. Juni 2021 „Linee Guida Cookie e altri strumenti di tracciamento“ („Richtlinien zu Cookies und anderen Tracking-Tools“), informieren wir Sie über die Methoden der Datenverarbeitung, die vom Verantwortlicher der Datenverarbeitung, durch die Cookies auf dieser Website perspektivenfabrik.it (im Folgenden „Website“ genannt) durchgeführt werden.</p>
        <h2>1. VERANTWORTLICHER FÜR DIE DATEN </h2>
        <p>
            <strong>Climate Action South Tyrol EO</strong>
            <br>Capronistraße 9, 39100 Bozen
            <br>Mail: info&commat;climateaction.bz
            <br>zertifizierte E-Mail-Adresse (PEC): cast&commat;pec-legal.it
            <br>Web: climateaction.bz
            <br>Steuernummer / cod. fiscale: 94140540215
        </p>
        <p>Für Kontaktaufnahmen speziell im Zusammenhang mit dem Schutz personenbezogener Daten, einschließlich der Ausübung der Rechte laut nachstehendem “Rechte der betroffenen Personen”, bitten wir, etwaige Anfragen an die E-Mail-Adresse info&commat;climateaction.bz zu richten.</p>
        <h2>2. WAS SIND COOKIES? </h2>
        <p>Cookies sind kleine Textdateien (Buchstaben und/oder Zahlen), die es dem Webserver erlauben auf dem Client (Browser) Informationen zu speichern, die während des Besuchs (Session-Cookies) oder beim nächsten Aufrufen der Website (permanente Cookies) wiederverwendet werden. Die Cookies werden gemäß den Einstellungen des Benutzers auf dem jeweiligen Browser und benutzten Endgerät (Computer, Tablet, Smartphone) gespeichert.</p>
        <p>Die Cookies, die in der Regel in einer sehr hohen Anzahl in den Browsern der Nutzer vorhanden sind, ermöglichen das Erheben von Informationen über die vom Nutzer auf der Website durchgeführte Navigation. Sie werden z. B. verwendet, um eine elektronische Authentifizierung durchzuführen, Sitzungen zu überwachen und Informationen über die Tätigkeiten von Nutzern zu speichern, die auf eine Website zugreifen. Cookies können auch einen eindeutigen Identifizierungscode enthalten, der die Verfolgung der Navigation des Nutzers innerhalb der Website zu statistischen oder Werbezwecken ermöglicht. Einige Vorgänge könnten ohne den Einsatz von Cookies nicht ausgeführt werden und sind daher in einigen Fällen für das Funktionieren der Website technisch notwendig.</p>
        <p>Während der Navigation auf einer Website kann der Nutzer auf seinem Gerät auch Cookies empfangen, die von anderen Websites (oder Webservern) als der von ihm besuchten Website gesendet werden (sog. „Drittanbieter“-Cookies), und zwar durch Elemente, die auf der aufgesuchten Website vorhanden sind (z. B. Bilder, Karten, Töne, Links zu Webseiten anderer Domains auf anderen Servern usw.).</p>
        <p>Einige Cookies werden dauerhaft auf dem Gerät des Nutzers gespeichert und haben eine feste Laufzeit (sog. permanente Cookies), während andere automatisch gelöscht werden, wenn der Browser geschlossen wird (sog. Sitzungs-Cookies).</p>
        <h2>3. KATEGORIEN DER VERWENDETEN COOKIES</h2>
        <p>Auf dieser Website werden aktuell nur technisch notwendige Cookies eingesetzt. Daher wird auch kein Cookie Banner oder ein Cookie-Präferenzen-Zentrum angeboten.</p>
        <ul>
            <li><strong>Technische Cookies</strong>, die für den Betrieb der Website unbedingt erforderlich sind oder dem Nutzer eine bessere Nutzung der Inhalte und Dienste ermöglichen (Sitzungs- und Funktions-Cookies). Diese Cookies erheben keine Informationen über die Identität des Nutzers oder irgendwelche personenbezogenen Daten.</li>
        </ul>
        <h2>4. VERWENDETE COOKIES</h2>
        <table>
            <thead>
            <tr>
                <th>Name des Cookies</th>
                <th>Funktion</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>preferred-language</td>
                <td>Auswahl der Sprache beim erstmaligen Laden der Seite</td>
            </tr>
            </tbody>
        </table>
        <h2>5. COOKIE EINSTELLUNGEN VERWALTEN</h2>
        <p>Sie können Cookies über den Einstellungsbereich Ihres Browsers deaktivieren. Wir möchten jedoch darauf hinweisen, dass durch die Deaktivierung eines oder mehrerer Cookies einige Funktionen dieser Website beeinträchtigt werden können (bitte beachten Sie, dass technische Cookies für das ordnungsgemäße Funktionieren der Grundfunktionen der Website erforderlich sind). Die Browserkonfiguration, die mit dieser Auswahl in Zusammenhang steht, kann in den Browsereinstellungen überwacht und geändert werden. Es ist auch möglich, die in der Vergangenheit installierten Cookies, einschließlich der technischen Cookies, über die Browsereinstellungen zu löschen.</p>
        <p>Durch Auswahl Ihres Browsers unter den unten aufgeführten können Sie Informationen darüber abrufen, wie Sie die entsprechenden Cookie-Einstellungen ändern können.</p>
        <ul>
            <li><a target="_blank" href="https://support.mozilla.org/de/kb/cookies-informationen-websites-auf-ihrem-computer">Mozilla Firefox</a></li>
            <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=de">Google Chrome</a></li>
            <li><a target="_blank" href="https://support.microsoft.com/de-de/windows/verwalten-von-cookies-in-microsoft-edge-anzeigen-zulassen-blockieren-l%C3%B6schen-und-verwenden-168dab11-0753-043d-7c16-ede5947fc64d">Microsoft Edge</a></li>
            <li><a target="_blank" href="https://support.apple.com/kb/PH17191?viewlocale=de_DE&locale=de_DE">Safari 6/7 Mavericks</a></li>
            <li><a target="_blank" href="https://support.apple.com/kb/PH19214?viewlocale=de_DE&locale=de_DE">Safari 8 Yosemite</a></li>
            <li><a target="_blank" href="https://support.apple.com/de-de/HT201265">Safari su iPhone, iPad, o iPod touch</a></li>
        </ul>
    }
</div>
<app-footer></app-footer>
