<footer>
    <div>
        <a href="https://www.instagram.com/perspektivenfabrik/" target="_blank"><app-insta-icon style="width: 2.5rem; height: 2.5rem; margin-right: 2rem"></app-insta-icon></a>
        <a href="https://github.com/aschuhde/perspektivenfabrik" target="_blank"><app-github-icon style="width: 2.5rem; height: 2.5rem; margin-right: 2rem"></app-github-icon></a>
        <a href="mailto: info@perspektivenfabrik.it"><mat-icon fontIcon="mail" style="font-size:3rem; width: 3rem; height: 3rem"></mat-icon></a>
    </div>
    <div style="padding-top: .8rem">
        <a style="margin-right: 2rem" href="{{HomeRouteNames.LegalNoticeUrl()}}">{{"general.legalNotice" | translate}}</a>
        <a href="{{HomeRouteNames.PrivacyPolicyUrl()}}">{{"general.privacyPolicy" | translate}}</a>
    </div>
</footer>
