<footer>
    <div>
        <a href="https://www.instagram.com/perspektivenfabrik/" target="_blank"><app-insta-icon></app-insta-icon></a>
        <a href="https://github.com/aschuhde/perspektivenfabrik" target="_blank"><app-github-icon></app-github-icon></a>
        <a href="mailto: info@perspektivenfabrik.it" target="_blank" style="text-decoration: none"><mat-icon fontIcon="mail" class="icon-mail"></mat-icon>&nbsp;<span class="mail-address" style="text-decoration: underline;">info&commat;perspektivenfabrik.it</span></a>
    </div>
    <div style="padding-top: .8rem">
        <a style="margin-right: 2rem" href="{{HomeRouteNames.LegalNoticeUrl()}}">{{"general.legalNotice" | translate}}</a>
        <a style="margin-right: 2rem" href="{{HomeRouteNames.PrivacyPolicyUrl()}}">{{"general.privacyPolicy" | translate}}</a>
        <a href="{{HomeRouteNames.CookiesUrl()}}">{{"general.cookie-policy" | translate}}</a>
    </div>
</footer>
