<div>
  <h4 class="split-left-right mt-0"><span><mat-icon fontIcon="groups"></mat-icon> {{"input-requirement-person.helping-hands-group" | translate}} {{ requirementNumber }}: </span><span><button (click)="openInDialog()"><mat-icon fontIcon="edit"></mat-icon><span class="only-desktop"> {{"input-requirement-person.edit-entry" | translate}}</span></button> <button class="secondary" (click)="removeClicked()"><mat-icon fontIcon="delete"></mat-icon><span class="only-desktop"> {{"input-requirement-person.remove-entry" | translate}}</span></button></span></h4>    
  <p>{{ subText }}</p>
</div>
