<h2 mat-dialog-title>Interner Link zum Teilen</h2>
<mat-dialog-content>
    <div style="cursor: pointer; width: 45rem; text-align: center" (click)="copyToClipboard()">
        <mat-form-field class="w-100">
            <mat-label style="cursor: pointer">Link</mat-label>
            <input type="text"
                   aria-label="link"
                   matInput
                   style="cursor: pointer"
                   readonly
                   [(ngModel)]="link"/>
        </mat-form-field>
    </div>
    @if(clipboardIsCopied){
        <button class="w-100 secondary readonly" (click)="copyToClipboard()"><mat-icon fontIcon="rocket_launch"></mat-icon> Link in Zwischenablage kopiert <mat-icon fontIcon="rocket_launch"></mat-icon></button>
    } @else {
        <button class="w-100" (click)="copyToClipboard()">In Zwischenablage kopieren</button>
    }
</mat-dialog-content>
<mat-dialog-actions>
        <button class="secondary" mat-dialog-close>Schließen</button>
</mat-dialog-actions>
