<h2 mat-dialog-title>{{ "share-link-dialog.internal-link-for-sharing" | translate }}</h2>
<mat-dialog-content>
    <div class="input-container" (click)="copyToClipboard()">
        <mat-form-field class="w-100">
            <mat-label style="cursor: pointer">{{ "share-link-dialog.link" | translate }}</mat-label>
            <input type="text"
                   aria-label="link"
                   matInput
                   style="cursor: pointer"
                   readonly
                   [(ngModel)]="link"/>
        </mat-form-field>
    </div>
    @if(clipboardIsCopied){
        <button class="w-100 secondary readonly" (click)="copyToClipboard()"><mat-icon fontIcon="rocket_launch"></mat-icon> {{ "share-link-dialog.copied-to-clipboard" | translate }} <mat-icon fontIcon="rocket_launch"></mat-icon></button>
    } @else {
        <button class="w-100" (click)="copyToClipboard()">{{ "share-link-dialog.copy-to-clipboard" | translate }}</button>
    }
</mat-dialog-content>
<mat-dialog-actions>
        <button class="secondary w-100-mobile" mat-dialog-close>{{ "general.close" | translate }}</button>
</mat-dialog-actions>
