<app-navigation-bar-full></app-navigation-bar-full>
<div style="padding: 2rem">
@if (currentLanguage == "it") {
    <h1>Privacy Policy</h1>
    <p>Gentile Utente,</p>
    <p>ai sensi degli articoli 12 e seguenti del Regolamento (UE) 2016/679 del Parlamento europeo e del Consiglio del 27
        aprile 2016 (Regolamento Generale sulla Protezione dei Dati / General Data Protection Regulation, “Regolamento”
        o “GDPR”), ed in generale in osservanza del principio di trasparenza previsto dal Regolamento medesimo, siamo a
        fornire le seguenti informazioni sul trattamento dei dati personali (cioè di qualsiasi informazione riguardante
        una persona fisica dentificata o identificabile: “Interessato”) effettuato in connessione alla navigazione sul
        sito “perspektivenfabrik.it” (“Sito”) e la relativa interazione da parte dell’Utente.</p>
    <h2>Titolare del trattamento</h2>
    <p>Il responsabile del trattamento dei dati personali (ovvero la persona che determina le finalità e i mezzi del trattamento dei dati personali) è Climate Action South Tyrol EO con sede in Via Caproni 9, 39100 Bolzano, info&commat;climateaction.bz, cast&commat;pec-legal.it</p>
    <h2>Dati di navigazione dell’utente</h2>
    <p>sistemi informatici e i programmi informatici utilizzati per il funzionamento del Sito raccolgono alcuni dati
        personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet (es. indirizzi IP
        o nomi a dominio dei computer utilizzati dagli utenti che si connettono al Sito, gli indirizzi URI – Uniform
        Resource Identifier – delle risorse richieste, orario della richiesta, metodo utilizzato nel sottoporre la
        richiesta al server, dimensione del file ottenuto in risposta, codice numerico circa lo stato della risposta
        resa dal server – buon fine, errore, ecc. – ed altri parametri relativi al sistema operativo e all’ambiente
        informatico dell’utente).</p>
    <p>Benché si tratti di informazioni che non sono raccolte per essere associate a nteressati identificati, per loro
        natura, potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, consentire di
        identificare gli utenti.</p>
    <p>Tali dati sono utilizzati al solo fine di ricavare informazioni statistiche non associate ad alcun dato
        identificativo dell’utente sull’uso del Sito e per controllare il corretto funzionamento dello stesso e vengono
        cancellati immediatamente dopo’elaborazione. I dati potrebbero essere utilizzati per l’accertamento di
        responsabilità in caso di ipotetici reati informatici ai danni del Sito. a base giuridica del trattamento è
        pertanto il legittimo interesse al funzionamento e sicurezza del Sito.</p>
    <h2>Cookies</h2>
    <p>Il Sito non utilizza cookies.</p>
    <h2>Dati forniti volontariamente dall’utente</h2>
    <p>Per la consultazione del sito non è richiesto alcun conferimento di dati personali da parte dell’utente.</p>
    <p>Tuttavia, eventuali contatti con il Titolare, o l’invio facoltativo, esplicito e spontaneo di messaggi, di posta
        elettronica o tradizionale, ai recapiti del Titolare indicati sul sito comportano la successiva acquisizione
        dell’indirizzo, anche e-mail, del mittente, necessari per rispondere alle richieste, nonché di eventuali altri
        dati personali inseriti nelle relative comunicazioni. Tali dati saranno utilizzati al solo fine di dar seguito
        alla richiesta dell’utente e potranno essere comunicati a terzi solo nel caso in cui ciò sia necessario a tal
        fine.</p>
    <p>Il trattamento dei dati personali avverrà da parte di personale istruito ed autorizzato dal Titolare con
        procedure, strumenti tecnici e informatici idonei a tutelare la riservatezza e la sicurezza degli stessi.</p>
    <p>Tali dati personali sono conservati per il tempo strettamente necessario a fornire all’Interessato le risposte
        alle richieste formulate, salvi ulteriori obblighi di conservazione previsti dalla legge. dati personali non
        saranno diffusi.</p>
    <h2>Modalità del trattamento e comunicazione a terzi dei dati</h2>
    <p>dati non sono soggetti a diffusione e potranno essere comunicati a collaboratori, fornitori del Titolare,
        nell’ambito delle relative mansioni e/o obblighi contrattuali relativi all’esecuzione del rapporto contrattuale
        con gli Interessati; tra i soggetti fornitori del Titolare si indicano a titolo esemplificativo istituti bancari
        e creditizi, mprese di assicurazioni, consulenti legali; fornitori di software e relativa assistenza, soggetti
        che effettuano spedizioni e consegne; nonché amministrazione finanziaria ed altri Enti per cui sono previste le
        comunicazioni obbligatorie. Il trattamento sarà effettuato:</p>
    <ul>
        <li>mediante l’utilizzo di sistemi manuali e automatizzati;</li>
        <li>da soggetti o categorie di autorizzati all’assolvimento dei relativi compiti;</li>
        <li>con l’impiego di misure adeguate a garantire la riservatezza dei dati ed</li>
        <li>evitare l’accesso agli stessi da parte di terzi non autorizzati.</li>
    </ul>
    <p>Fermo quanto esposto nelle specifiche sezioni di cui sopra, nell’ambito della sua attività e per le finalità
        sopra indicate, il Titolare potrà avvalersi di servizi resi da soggetti terzi che operano o quali titolari
        autonomi o per conto e secondo le istruzioni dello stesso, quali responsabili del trattamento ex art. 28 del
        regolamento. Si tratta di soggetti che forniscono al Titolare servizi elaborativi o strumentali.</p>
    <p>In generale, l’Interessato potrà richiedere un elenco completo e aggiornato dei soggetti nominati responsabili
        del trattamento rivolgendosi ad uno dei contatti del Titolare.</p>
    <p>Potranno poi accedere ai dati tutti i soggetti cui la facoltà di accesso a tali dati è riconosciuta in forza di
        provvedimenti normativi.</p>
    <h2>Trasferimento di dati all’estero</h2>
    <p>Non è intenzione di trasferire i dati personali a Paesi non Membri dell’Unione Europea o ad Organizzazioni
        Internazionali. Qualora per specifiche ragioni tecniche il titolare provvedesse al trasferimento verso paesi
        terzi, per assicurare un adeguato livello di protezione dei dati, questo avviene rispettando le seguenti
        condizioni: trasferimento sulla base di una decisione di adeguatezza, trasferimento soggetto a garanzie
        adeguate, norme vincolanti di impresa o applicazioni di deroghe previste per specifiche situazioni.</p>
    <h2>Presenza sui social network (Social Media)</h2>
    <p>Manteniamo una presenza online sui social network e in questo contesto elaboriamo i dati degli utenti per comunicare con gli utenti attivi o per offrire informazioni su di noi.</p>
    <p>Facciamo presente che i dati degli utenti potrebbero essere elaborati al di fuori dell'Unione Europea. Ciò può comportare dei rischi per gli utenti, ad esempio rendendo più difficile far valere i diritti degli utenti.</p>
    <p>Inoltre, i dati degli utenti all'interno dei social network vengono di norma elaborati per scopi di ricerca di mercato e pubblicitari. Ad esempio, è possibile creare profili di utilizzo basati sul comportamento dell'utente e sui conseguenti interessi degli utenti. Questi profili di utilizzo possono a loro volta essere utilizzati, ad esempio, per inserire annunci pubblicitari all'interno e all'esterno dei network che presumibilmente corrispondono agli interessi degli utenti. A tal fine, di norma vengono memorizzati cookie sui computer degli utenti, nei quali vengono salvati il comportamento e gli interessi degli utenti. Inoltre, nei profili di utilizzo possono essere memorizzati anche dati indipendenti dai dispositivi utilizzati dagli utenti (in particolare se gli utenti sono membri delle rispettive piattaforme e vi hanno effettuato l'accesso).</p>
    <p>Per una presentazione dettagliata delle rispettive forme di trattamento e delle possibilità di opposizione (opt-out), rimandiamo alle informative sulla privacy e alle indicazioni fornite dai gestori delle rispettive reti.</p>
    <p>Anche in caso di richieste di informazioni e di esercizio dei diritti degli interessati, segnaliamo che questi possono essere fatti valere nel modo più efficace presso i fornitori. Solo questi ultimi hanno accesso ai dati degli utenti e possono adottare direttamente le misure appropriate e fornire informazioni. Se doveste comunque aver bisogno di aiuto, potete contattarci.</p>
    <h3>Ulteriori informazioni sui processi di elaborazione, procedure e servizi:</h3>
    <p><strong>Instagram:</strong> Social network che consente la condivisione di foto e video, il commento e l'apprezzamento dei post, l'invio di messaggi, l'abbonamento a profili e pagine; Fornitore del servizio: Meta Platforms Ireland Limited, Merrion Road, Dublin 4, D04 X2K5, Irlanda; Sito web: https://www.instagram.com; Informativa sulla privacy: https://privacycenter.instagram.com/policy/; Base per il trasferimento verso paesi terzi: Data Privacy Framework (DPF), Data Privacy Framework (DPF).</p>
    <h2>Registrazione, login e account utente</h2>
    <p>Gli utenti possono creare un account utente. Durante la registrazione, gli utenti vengono informati dei dati obbligatori necessari, che vengono elaborati ai fini della fornitura dell'account utente sulla base dell'adempimento degli obblighi contrattuali. I dati elaborati includono in particolare le informazioni di login (nome utente, password e un indirizzo email).</p>
    <p>Nell'ambito dell'utilizzo delle nostre funzioni di registrazione e login e dell'utilizzo dell'account utente, memorizziamo l'indirizzo IP e l'ora della rispettiva azione dell'utente. La memorizzazione avviene sulla base dei nostri legittimi interessi e di quelli degli utenti nella protezione contro l'uso improprio e altri usi non autorizzati. Questi dati non vengono generalmente trasmessi a terzi, a meno che ciò non sia necessario per perseguire i nostri diritti o non vi sia un obbligo legale in tal senso.</p>
    <p>Gli utenti possono essere informati via email su eventi rilevanti per il loro account utente, come ad esempio modifiche tecniche.</p>
    <h2>Funzioni della community</h2>
    <p>Le funzioni della community da noi fornite permettono agli utenti di conversare tra loro o di interagire in altro modo. Chiediamo di notare che l'uso delle funzioni della community è consentito solo nel rispetto della legislazione vigente, delle nostre condizioni e linee guida, nonché dei diritti degli altri utenti e di terzi.</p>
    <h2>Diritti dell’interessato</h2>
    <p>|| GDPR attribuisce all’Interessato l’esercizio dei seguenti diritti con riferimento ai dati personali che lo
        riguardano (la descrizione sintetica è indicativa, per la completa enunciazione dei diritti, comprese le
        limitazioni degli stessi, si rimanda al Regolamento, ed in particolare agli artt. 15-22):</p>
    <ul>
        <li>Accesso ai dati personali (l’Interessato ha il diritto di avere gratuitamente le informazioni in merito ai
            dati personali che lo riguardano detenuti dal Titolare ed al relativo trattamento, nonché di ottenerne copia
            in formato accessibile);
        </li>
        <li>Rettifica dei dati personali (su segnalazione dell’Interessato, correzione o integrazione dei dati personali
            -non espressione di elementi valutativi- non corretti o imprecisi, anche divenuti tali in quanto non
            aggiornati);
        </li>
        <li>Cancellazione dei dati personali (diritto all’oblio) (ad esempio, i dati non sono più necessari rispetto
            alle finalità per le quali sono stati raccolti o trattati; sono stati trattati illecitamente; devono essere
            cancellati per adempiere un obbligo legale; l’Interessato ha revocato il consenso e non sussiste altro
            fondamento giuridico per il trattamento; l’Interessato si oppone,
        </li>
        <li>sussistendo le condizioni, al trattamento);</li>
        <li>Limitazione del trattamento (in determinati casi -contestazione dell’esattezza dei dati, nel tempo
            necessario alla verifica; contestazione della liceità del trattamento con opposizione alla cancellazione;
            necessità di utilizzo per i diritti di diritti di difesa dell’Interessato, mentre essi non sono più utili ai
            fini del trattamento; se vi è opposizione al trattamento, mentre vengono svolte le necessarie verifiche- i
            dati verranno conservati con modalità tali da poter essere eventualmente ripristinati, ma, nel mentre, non
            sono consultabili dal Titolare se non appunto in relazione alla verifica della validità della richiesta di
            limitazione da parte dell’Interessato, o con il consenso dell’Interessato o per l’accertamento, l’esercizio
            o la difesa in giudizio di un diritto in sede giudiziaria o per tutelare i diritti di altra persona fisica o
            giuridica o per motivi di interesse pubblico rilevante dell’Unione o di uno Stato membro);
        </li>
        <li>Opposizione in tutto o in parte, per motivi connessi alla situazione particolare dell’Interessato, al
            trattamento effettuato sulla base del legittimo interesse (e l’Interessato può in ogni caso opporsi al
            trattamento dei propri dati personali per finalità di marketing diretto, compresa la profilazione nella
            misura in cui sia connessa a tale marketing diretto);
        </li>
        <li>Portabilità dei dati (qualora il trattamento si basi sul consenso o su un contratto e sia effettuato con
            mezzi automatizzati, su sua richiesta, l’Interessato riceverà in un formato strutturato, di uso comune e
            leggibile da dispositivo automatico, i dati personali che lo riguardano e potrà trasmetterli ad un altro
            Titolare del trattamento, senza impedimenti da parte del Titolare del Trattamento cui li ha forniti e, se
            tecnicamente fattibile, potrà ottenere che detta trasmissione venga effettuata direttamente da
            quest’ultimo);
        </li>
        <li>Revoca del consenso (qualora il trattamento avvenga in forza di consenso manifestato dall’Interessato,
            questi potrà revocare il consenso in qualsiasi momento, senza pregiudicare la liceità del trattamento
            prestato prima della revoca);
        </li>
        <li>Proposizione reclamo all’autorità di controllo (Garante per la protezione dei dati personali – Garante
            Privacy). Il Garante per la protezione dei dati personali è contattabile tramite i recapiti indicati nel
            Sito dell’Autorità medesima “www.garanteprivacy.it”).
        </li>
    </ul>
    <h2>Esercizio dei diritti</h2>
    <p>L’Interessato potrà esercitare i diritti tramite richiesta al Titolare ai seguenti indirizzi:</p>
    <p>via e-mail: info&commat;perspektivenfabrik.it</p>
    <p>I Titolare potrà modificarne o aggiornarne il contenuto in tutto o in parte, anche tenuto conto di eventuali
        cambiamenti della normativa sulla protezione dei dati personali. Si invitano pertanto gli Interessati a
        consultare con regolarità questa pagina, in modo da essere così al corrente di quanto attiene ai processi di
        trattamento.</p>
} @else {
    <h1>Privacy Policy</h1>
    <p>Sehr geehrte Nutzer, gemäß Artikel 12 ff. der Verordnung (EU) 2016/679 des Europäischen Parlaments und des Rates vom 27. April 2016
        (General Data Protection Regulation, „Verordnung“ oder „GDPR“) und im Allgemeinen in Übereinstimmung mit dem in
        der Verordnung selbst festgelegten Grundsatz der Transparenz geben wir hiermit die folgenden Informationen über
        die Verarbeitung personenbezogener Daten (d.h. alle Informationen, die sich auf eine identifizierte oder
        identifizierbare natürliche Person beziehen: „betroffene Person“), die im Zusammenhang mit der Navigation auf
        der Website perspektivenfabrik.it&nbsp;(„Website“) und die damit verbundene Interaktion seitens der Nutzenden zur Verarbeitung von
        personenbezogenen Daten.</p>
    <h2>Verantwortlicher Datenverarbeitung</h2>
    <p>Der Verantwortliche der Datenverarbeitung (d.h., die Person, die den Zweck und die Mittel zur Verarbeitung personenbezogener Daten festlegt) ist Climate Action South Tyrol EO mit Sitz in Capronistraße 9, 39100 Bozen, info&commat;climateaction.bz, cast&commat;pec-legal.it</p>
    <h2>Navigationsdaten der Nutzenden</h2>
    <p>Die dem Betrieb dieser Website dienenden Computersysteme und Programme erlangen einige personenbezogene Daten,
        deren Übermittlung implizit mit der Nutzung der Internetkommunikationsprotokolle verbunden ist (z. B.
        IP-Adressen oder Domain-Namen der Computer, die von den die Website besuchenden Nutzern verwendet werden; die
        mit der Zeichenfolge URI – Uniform Resource Identifier – ausgedrückten Adressen der angeforderten Ressourcen;
        die Uhrzeit der Anfrage; die für die Anfrage beim Server verwendete Methode; die Größe der Dateien, mit denen
        die Anfrage beantwortet wird; der Nummernkode, der den Status der vom Server erteilten Antwort – positive
        Antwort, Fehler etc. – bezeichnet; weitere Parameter des Betriebssystems und der Computer-Umgebung des Nutzers).
        Diese Informationen werden nicht erhoben, um mit identifizierten betroffenen Personen verknüpft zu werden, doch
        sie können es aufgrund ihrer Natur ermöglichen, die Nutzer über Verarbeitungsschritte und die Verknüpfung mit im
        Besitz Dritter befindlicher Daten zu identifizieren.</p>
    <p>Diese Daten werden nur verwendet, um statistische Informationen zur Nutzung der Website zu erhalten, die nicht
        mit Daten, die den Nutzer identifizieren, verknüpft sind, und um das einwandfreie Funktionieren der Website zu
        überwachen; sie werden nach ihrer Verarbeitung unverzüglich gelöscht.<br>Die Daten können im Falle von
        möglicherweise zu Lasten der Website begangenen Computerstraftaten für die Ermittlung der Verantwortlichkeit
        herangezogen werden.<br>Die Rechtsgrundlage für die Verarbeitung besteht somit im berechtigten Interesse am
        einwandfreien Funktionieren und an der Sicherheit der Website.</p>
    <h2>Cookies</h2>
    <p>Die Website verwendet keine Cookies.</p>
    <h2>Freiwillige Datenbereitstellung</h2>
    <p>Um die Website zu besuchen, muss der Nutzer keine persönlichen Daten angeben. Die Kontaktaufnahme mit dem
        Verantwortlichen oder die fakultative, ausdrückliche und spontane Übermittlung von Nachrichten auf
        elektronischem oder herkömmlichem Wege an die auf der Website angegebenen Adressen des Verantwortlichen hat
        jedoch zur Folge, dass die Adresse, einschließlich der E-Mail-Adresse, des Absenders, die für die Beantwortung
        der Anfragen erforderlich ist, sowie alle anderen in den entsprechenden Mitteilungen enthaltenen
        personenbezogenen Daten erfasst werden. Solche Daten werden ausschließlich zur Beantwortung der Anfrage des
        Nutzers verwendet und dürfen nur dann an Dritte weitergegeben werden, wenn dies zu diesem Zweck erforderlich
        ist.</p>
    <p>Die personenbezogenen Daten werden von dem vom Verantwortlichen beauftragten und befugten Personal unter
        Verwendung von Verfahren, technischen und informationstechnischen Hilfsmitteln verarbeitet, die geeignet sind,
        die Vertraulichkeit und Sicherheit der Daten zu gewährleisten.<br>Solche personenbezogenen Daten werden
        unbeschadet weiterer gesetzlicher Aufbewahrungspflichten so lange aufbewahrt, wie es unbedingt erforderlich ist,
        um der betroffenen Person Antworten auf die gestellten Anträge zu geben.<br>Personenbezogene Daten werden nicht
        offengelegt.</p>
    <h2>Modalitäten der Datenverarbeitung</h2>
    <p>Die Daten unterliegen nicht der Verbreitung und können an Mitarbeiter und Lieferanten des Verantwortlichen im
        Rahmen ihrer Aufgaben und/oder vertraglichen Verpflichtungen in Bezug auf die Ausführung der vertraglichen
        Beziehung mit den betroffenen Personen weitergegeben werden; zu den Lieferanten des Verantwortlichen gehören
        beispielsweise Bank- und Kreditinstitute, Versicherungsgesellschaften, Rechtsberater, Softwarelieferanten und
        damit verbundene Hilfs-, Versand- und Lieferunternehmen sowie die Finanzverwaltung und andere Stellen, für die
        obligatorische Mitteilungen vorgesehen sind. Die Datenverarbeitung erfolgt:</p>
    <ul>
        <li>mittels Verwendung manueller und automatisierter Systemen</li>
        <li>durch zur Ausführung dieser Aufgaben gesetzlich ermächtigte Personen;</li>
        <li>mit Ergreifen von Maßnahmen, die geeignet sind, die Vertraulichkeit der Daten zu gewährleisten und den
            Zugang zu diesen durch nicht ermächtigte Dritte zu vermeiden.
        </li>
    </ul>
    <p>Unbeschadet der Ausführungen in den vorstehenden Abschnitten kann sich der Verantwortliche im Rahmen seiner
        Tätigkeit und zu den oben genannten Zwecken der Dienste Dritter bedienen, die entweder als eigenständige
        Verantwortliche oder in deren Auftrag und nach deren Weisung als Auftragsverarbeiter gemäß Artikel 28 der
        Verordnung tätig sind. Es handelt sich um Subjekte, die dem Verantwortlichen Verarbeitungs- oder
        Instrumentendienste zur Verfügung stellen.<br>Im Allgemeinen kann die betroffene Person eine vollständige und
        aktualisierte Liste der als Auftragsverarbeiter ernannten Subjekte anfordern, indem sie sich an einen der
        Kontaktstellen des Verantwortlichen wendet.<br>Die Daten können dann von allen Personen eingesehen werden, deren
        Recht auf Zugang zu diesen Daten aufgrund von Rechtsvorschriften anerkannt ist.</p>
    <h2>Übermittlung von Daten ins Ausland</h2>
    <p>Es ist nicht beabsichtigt, personenbezogene Daten in Länder, die nicht Mitglied der Europäischen Union sind, oder
        an internationale Organisationen zu übermitteln.&nbsp;Wenn der Verantwortliche aus besonderen technischen
        Gründen Daten in Drittländer übermittelt, um ein angemessenes Datenschutzniveau zu gewährleisten, geschieht dies
        unter folgenden Bedingungen: Übermittlung auf der Grundlage eines Angemessenheitsbeschlusses, Übermittlung
        vorbehaltlich angemessener Garantien, verbindlicher interner Vorschriften oder Anwendung von Ausnahmeregelungen
        für bestimmte Situationen.</p>
    <h2>Präsenzen in sozialen Netzwerken (Social Media)</h2>
    <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Nutzerdaten, um mit den dort aktiven Nutzern zu kommunizieren oder Informationen über uns anzubieten.</p>
    <p>Wir weisen darauf hin, dass dabei Nutzerdaten außerhalb des Raumes der Europäischen Union verarbeitet werden können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so zum Beispiel die Durchsetzung der Nutzerrechte erschwert werden könnte.</p>
    <p>Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und Werbezwecke verarbeitet. So können beispielsweise anhand des Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer Nutzungsprofile erstellt werden. Letztere finden möglicherweise wiederum Verwendung, um etwa Werbeanzeigen innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Daher werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Zudem können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten Geräten gespeichert werden (insbesondere, wenn sie Mitglieder der jeweiligen Plattformen und dort eingeloggt sind).</p>
    <p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten (Opt-out) verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.</p>
    <p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur Letztere haben jeweils Zugriff auf die Nutzerdaten und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann können Sie sich an uns wenden.</p>
    <h3>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</h3>
    <p><strong>Instagram:</strong> Soziales Netzwerk, ermöglicht das Teilen von Fotos und Videos, das Kommentieren und Favorisieren von Beiträgen, Nachrichtenversand, Abonnieren von Profilen und Seiten; Dienstanbieter: Meta Platforms Ireland Limited, Merrion Road, Dublin 4, D04 X2K5, Irland;Website: https://www.instagram.com; Datenschutzerklärung: https://privacycenter.instagram.com/policy/; Grundlage Drittlandtransfers: Data Privacy Framework (DPF), Data Privacy Framework (DPF).</p>
    <h2>Registrierung, Anmeldung und Nutzerkonto</h2>
    <p>Nutzer können ein Nutzerkonto anlegen. Im Rahmen der Registrierung werden den Nutzern die erforderlichen Pflichtangaben mitgeteilt und zu Zwecken der Bereitstellung des Nutzerkontos auf Grundlage vertraglicher Pflichterfüllung verarbeitet. Zu den verarbeiteten Daten gehören insbesondere die Login-Informationen (Nutzername, Passwort sowie eine E-Mail-Adresse).</p>
    <p>Im Rahmen der Inanspruchnahme unserer Registrierungs- und Anmeldefunktionen sowie der Nutzung des Nutzerkontos speichern wir die IP-Adresse und den Zeitpunkt der jeweiligen Nutzerhandlung. Die Speicherung erfolgt auf Grundlage unserer berechtigten Interessen als auch jener der Nutzer an einem Schutz vor Missbrauch und sonstiger unbefugter Nutzung. Eine Weitergabe dieser Daten an Dritte erfolgt grundsätzlich nicht, es sei denn, sie ist zur Verfolgung unserer Ansprüche erforderlich oder es besteht eine gesetzliche Verpflichtung hierzu.</p>
    <p>Die Nutzer können über Vorgänge, die für deren Nutzerkonto relevant sind, wie z. B. technische Änderungen, per E-Mail informiert werden.</p>
    <h3>Community Funktionen</h3>
    <p>Die von uns bereitgestellten Community Funktionen erlauben es Nutzern miteinander in Konversationen oder sonst miteinander in einen Austausch zu treten. Hierbei bitten wir zu beachten, dass die Nutzung der Communityfunktionen nur unter Beachtung der geltenden Rechtslage, unserer Bedingungen und Richtlinien sowie der Rechte anderer Nutzer und Dritter gestattet ist.</p>
    <h2>Rechte der Betroffenen</h2>
    <p>Die GDPR gibt den betroffenen Personen die Ausübung der folgenden Rechte in Bezug auf die ihnen befassenden
        personenbezogenen Daten (die zusammenfassende Beschreibung ist bezeichnend, für die vollständige Äußerung der
        Rechte, siehe die Verordnung und insbesondere den Artt. 15-22):</p>
    <ul>
        <li>das Recht auf Zugang zu den personenbezogenen Daten (die betroffene Person ist daher berechtigt,
            unentgeltlich Informationen zu den im Besitz des Verantwortlichen befindlichen Daten und zur entsprechenden
            Verarbeitung und eine entsprechende Kopie in einem zugänglichen Format zu erhalten);
        </li>
        <li>das Recht auf Berichtigung der Daten (wir sorgen auf die Meldung der betroffenen Person hin für die
            Korrektur oder Ergänzung der unrichtigen oder ungenauen bzw. aufgrund mangelnder Aktualisierung unrichtig
            oder ungenau gewordenen Daten)
        </li>
        <li>das Recht auf Löschung der Daten (Recht auf Vergessenwerden) (zum Beispiel: die Daten sind für die Zwecke,
            zu denen sie erhoben oder verarbeitet wurden, nicht mehr notwendig; sie wurden in unberechtigter Weise
            verarbeitet; sie müssen zur Erfüllung einer rechtlichen Pflicht gelöscht werden; die betroffene Person hat
            die Einwilligung zurückgenommen, und es besteht keine andere Rechtsgrundlage für die Datenverarbeitung; die
            betroffene Person widersetzt sich der Datenverarbeitung, wenn die Voraussetzungen erfüllt sind);
        </li>
        <li>das Recht auf Einschränkung der Datenverarbeitung (in bestimmten Fällen – Bestreiten der Genauigkeit der
            Daten während des zur Prüfung notwendigen Zeitraums; Bestreiten der Rechtmäßigkeit der Datenverarbeitung mit
            Widerspruch gegen die Löschung; Notwendigkeit der Nutzung der Daten zur Wahrnehmung der Verteidigungsrechte
            der betroffenen Person, während die Daten für die Zwecke der Datenverarbeitung nicht mehr nützlich sind;
            wenn gegen die Verarbeitung Widerspruch eingelegt wird, während die erforderlichen Kontrollen durchgeführt
            werden – die Daten werden so gespeichert, dass sie bei Bedarf wiederhergestellt werden können, aber in der
            Zwischenzeit können sie von dem Verantwortlichen nicht eingesehen werden, es sei denn, dies geschieht im
            Zusammenhang mit der Prüfung der Gültigkeit des von der betroffenen Person gestellten Antrags auf
            Einschränkung oder mit der Zustimmung der betroffenen Person oder zur Feststellung, Ausübung oder
            Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen
            Person oder aus Gründen eines wichtigen öffentlichen Interesses der Union oder eines Mitgliedstaats);
        </li>
        <li>das Recht auf Widerspruch gegen die gesamte Datenverarbeitung oder gegen einzelne Abschnitte, die auf der
            Grundlage des berechtigten Interesses erfolgt, aus Gründen, die sich aus der besonderen Situation der
            betroffenen Person ergeben (und die betroffene Person kann in jedem Fall der Verarbeitung ihrer
            personenbezogenen Daten für Zwecke des Direktmarketings widersprechen, einschließlich des Profilings, soweit
            es mit diesem Direktmarketing zusammenhängt);
        </li>
        <li>das Recht auf Datenübertragbarkeit (sollte die Datenverarbeitung auf Grundlage der Einwilligung oder eines
            Vertrages und mit automatisierten Mitteln erfolgen, erhält die betroffene Person auf ihre Anfrage die auf
            sie bezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format; sie kann diese Daten an
            einen anderen Verantwortlichen übermitteln, ohne durch den Verantwortlichen, dem sie die Daten zur Verfügung
            gestellt hat, daran gehindert zu werden; falls es technisch machbar ist, kann sie verlangen, dass diese
            Übermittlung direkt vom letztgenannten Verantwortlichen vorgenommen wird);
        </li>
        <li>Widerruf der Einwilligung (erfolgt die Verarbeitung auf der Grundlage einer Einwilligung der betroffenen
            Person, darf diese ihre Einwilligung jederzeit widerrufen, ohne dass die Rechtmäßigkeit der vor dem Widerruf
            erfolgten Verarbeitung berührt wird);
        </li>
        <li>Beschwerde bei der Aufsichtsbehörde (in Italien: Garante per la Protezione dei dati personali). Die Garante
            per la protezione dei dati personali kann unter den auf der Website der Behörde „www.garanteprivacy.it“
            angegebenen Adressen kontaktiert werden.
        </li>
    </ul>
    <h2>Ausübung der Rechte</h2>
    <p>Die betroffene Person kann ihre Rechte ausüben, indem sie einen Antrag an den Verantwortlichen unter den
        folgenden Adressen stellt:</p>
    <ul>
        <li>per E-Mail: info&commat;perspektivenfabrik.it</li>
    </ul>
    <p>Der Verantwortliche kann den Inhalt ganz oder teilweise ändern oder aktualisieren, auch unter Berücksichtigung
        etwaiger Änderungen der Rechtsvorschriften über den Schutz personenbezogener Daten. Die betroffenen Personen
        werden daher aufgefordert, diese Seite regelmäßig zu konsultieren, um sich über die Verarbeitungsverfahren zu
        informieren.</p>
}
</div>
<app-footer></app-footer>