@for (requirement of requirements(); track requirement){
    <div class="group-outer">
        <div class="group">
            <h4><mat-icon fontIcon="construction"></mat-icon> {{ "materials.material-group" | translate }} {{ $index + 1}}</h4>
            <p class="question">{{ "materials.what" | translate }}</p>
            <p class="answer" [innerHTML]="materialHtml(requirement)"></p>
            <p class="question"><mat-icon fontIcon="date_range"></mat-icon> {{ "materials.when" | translate }}</p>
            <p class="answer">{{ periodText(requirement) | async }}</p>
            <p class="question"><mat-icon fontIcon="location_on"></mat-icon> {{ "materials.where" | translate }}</p>
            <p class="answer">{{ locationText(requirement) | async }}</p>
        </div>
    </div>
}
@for (requirementMoney of requirementsMoney(); track requirementMoney){
    <div class="group-outer">
        <div class="group">
            <h4><mat-icon fontIcon="savings"></mat-icon> {{ "materials.financial-support" | translate }} {{ $index + 1}}</h4>
            <p class="question">{{ "materials.what" | translate }}</p>
            <p class="answer">{{ moneyText(requirementMoney) }}</p>
            <p class="question"><mat-icon fontIcon="date_range"></mat-icon> {{ "materials.when" | translate }}</p>
            <p class="answer">{{ periodText(requirementMoney) | async }}</p>
        </div>
    </div>
}
