@use "responsive";
@use "vars";
:host{
  display: flex;
}
.left{
  width: 50%;
  background-color: vars.$bg-orange;
  vertical-align: top;
}
.right{
  width: 50%;
  vertical-align: top;
}

@include responsive.mobile {
  :host{
    display: block; 
  }
  .left {
    margin-top: 3rem;
    width: 100%;
    display: block;
  }

  .right {
    width: 100%;
    display: block;
    padding-bottom: 2rem;
  }
}