@use "responsive";

.left{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.right{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

@include responsive.mobile {
  .left {
    margin-top: 3rem;
    width: 100%;
    display: block;
  }

  .right {
    width: 100%;
    display: block;
    padding-bottom: 2rem;
  }
}