@use "responsive";

mat-form-field{
  width: 3rem;
  margin-right: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.otp-container > *{
  vertical-align: top;
}
.color-error{
  
}

@include responsive.mobile{
  mat-form-field{
    width: 2.3rem;
    font-size: 1.3rem;
  }
}