
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'angular-material-theme';
@use 'button';
@use 'font';
@use 'common';
@use 'angular-editor-theme';
@use "home-global";
@use "responsive";


html, body { height: 100%; padding: 0; margin: 0; }

app-root{
  display: block;
  height: 100%;
}
.body-container{
  height: 100%;
}
app-navigation-bar-full{
  height: 4.5rem;
  display: block;
}
.full-height-minus-nav{
  height: calc(100% - 4.5rem);
  display: block;
}
.full-height-minus-nav-viewport{
  min-height: calc(100vh - 4.5rem);
  display: block;
}
.material-symbols-outlined {
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}

.show-as-box {
  display: inline-block;
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  word-break: break-word;
}

@include responsive.mobile{
  app-navigation-bar-full{
    height: 3rem;
  }
  .full-height-minus-nav{
    height: calc(100% - 3rem);
  }
  .full-height-minus-nav-viewport{
    min-height: calc(100vh - 3rem);
  }
}

@include responsive.desktop{
  .mat-input-desktop-min-width{
    min-width: 20rem !important;
  }
}

app-mat-input-translations .mat-mdc-form-field-infix {
  padding-right: 2rem;
}